<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->


    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <h2 class="item-carousel" >
                Disfruta de la experiencia de simulación, convirtiendote en
                un ciudadano de In Time.
            </h2>
        </div>

        <div class="item">
            <h2 class="item-carousel">
                <i>"Time is the coin of your life. It is the only coin you have, and only you can
                determine how it will be spent. Be careful lest you let other people spend it
                for you." - </i>Carl Sandburg
            </h2>
        </div>
    </div>
</div>

<script>
    $('.carousel').carousel({interval: 1000*14});
</script>