{# empty Twig template #}
{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block header %}
    {% include "guardian/header.html.twig" %}
    <style>
        .apuesta{
            font-weight: bold; 
            font-size: 15px; 
            background-color: rgba(255, 255, 255, 0.8); 
            color:black;
            margin: 1%;
            padding: 2% 2%;
        }
        @media only screen and (max-width: 1068px){
            .apuesta{
                font-size: 55px;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 jumbotron">
            <div class="row" style="margin-top:-4%;">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="/">
                                <i class="fa fa-home"></i>
                                HOME
                            </a>
                            <span class="divider">/</span>
                        </li>
                        <li class="active">
                            <i class="fa fa-pencil-square"></i> LOTERÍAS Y APUESTAS
                        </li>
                        <li style="float:right;">
                            <a href="/logout">
                                <i class="fa fa-sign-out"></i>
                                SALIR
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" style="margin-bottom: 1%;">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" style="font-weight: bold; text-transform: uppercase; font-size: 15px;">
                        <li {% if SECCION == 'APUESTAS' %} class="active" {% endif %}>
                            <a href="/guardian/apuestas/proponer">APUESTAS</a>
                        </li>
                        <li {% if SECCION == 'LOTERIA' %} class="active" {% endif %}>
                            <a href="/guardian/loterias">LOTERÍAS</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% if SECCION == 'APUESTAS' %}
                <div class="row" style="margin-bottom: 1%;">
                    <div class="col-xs-12">
                        <ul class="nav nav-tabs" style="font-weight: bold; text-transform: uppercase; font-size: 10px;">
                            <li {% if SUBSECCION == 'PROPONER' %} class="active col-xs-offset-1" {% else %} class="col-xs-offset-1" {% endif %}>
                                <a href="/guardian/apuestas/proponer">PROPONER</a>
                            </li>
                            <li {% if SUBSECCION == 'GESTION' %} class="active" {% endif %}>
                                <a href="/guardian/apuestas/gestion">GESTIONAR LOTERÍAS</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% if SUBSECCION == 'PROPONER' %}
                    <form method="POST" action="/guardian/apuestas/proponer">
                        <div class="row">
                            <div class="col-md-12">
                                <textarea class="form-control" name="APUESTA" rows="5" style="resize:none; width:100%;"
                                          placeholder="Escriba aquí su apuesta" required></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" >
                                <div class="form-group" id="panel-posibilidades">
                                    <input type="text" class="form-control" name="POSIBILIDADES[]" placeholder="Posibilidad #1 (Ej:Que gane el equipo A)" />
                                    <input type="text" class="form-control" name="POSIBILIDADES[]" placeholder="Posibilidad #2 (Ej:Que gane el equipo B)" />
                                </div>
                            </div>
                        </div>
                        <div class="row" id="panel-envio" style="margin-top:2%;">
                            <div class="col-md-1 col-xs-3">
                                <button type="button" class="btn btn-warning btn-block" onclick="aniadeOportunidad();">
                                    <span class="fa fa-plus"></span>
                                </button>
                            </div>
                            <div class="col-md-6 col-xs-8" style="float:right;">
                                <button type="submit" class="btn btn-success btn-block">
                                    <span class="fa fa-send-o" style="font-weight: bold"> 
                                        ENVIAR
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                {% endif %}
                {% if SUBSECCION == 'GESTIONAR' %}
                    <div class="row">
                        <div class="col-md-12" id="panel-apuestas-current">

                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script>
        $(document).ready(function () {
        {% if SECCION == 'APUESTAS' and SUBSECCION == 'GESTIONAR' %}
                actualizarApuestas();
                setInterval(function () {
                    actualizarApuestas();
                }, 3000);
        {% endif %}
        {% if info.message is defined or info.type is defined%}
                $('#box_modal_result').click();
        {% endif %}
            });

            var n_posibilidades = 2;

            function aniadeOportunidad() {
                n_posibilidades += 1;
                $("#panel-posibilidades").append('<input type="text" class="form-control" name="POSIBILIDADES[]" placeholder="Posibilidad #' + n_posibilidades + '" />');
            }

            function terminarApuesta(idProbabilidad) {
                ruta = '/guardian/apuestas/terminarApuesta/' + idProbabilidad;
                $.get(ruta, function (data, status) {
                    console.log(data);
                });
            }
            
            function pararApuesta(idApuesta, valorParada){
                ruta = '/guardian/apuestas/pararApuesta/' + idApuesta + '/' + valorParada;
                $.get(ruta, function (data, status) {
                    console.log(data);
                });
            }

            function actualizarApuestas() {
                ruta = '/guardian/apuestas/actualizarApuestas';
                $.get(ruta, function (data, status) {
                    console.log(data);
                    $('#panel-apuestas-current').empty();
                    if (data.resultado === 'OK') {
                        $.each(data.apuestas, function (apuestak, apuestav) {
                            contenido = '<div class="row">';
                            contenido += '  <div class="col-md-6 apuesta" >';
                            contenido += '      <div class="row">';
                            contenido += '          <div class="col-md-12" style="text-align:center;">';
                            contenido += '              ' + apuestav.DESCRIPCION;
                            contenido += '          </div>';
                            contenido += '          <div class="col-md-12" style="text-align:center;">';
                            dias = Math.floor(apuestav.TIEMPO_TOTAL / 86400);
                            horas = Math.floor(apuestav.TIEMPO_TOTAL / 3600) - (dias * 24);
                            minutos = Math.floor(apuestav.TIEMPO_TOTAL / 60) - (dias * 24 * 60) - (horas * 60);
                            segundos = Math.floor(apuestav.TIEMPO_TOTAL) - (dias * 24 * 60 * 60) - (horas * 60 * 60) - (minutos * 60);
                            contenido += '              <small>' + dias + ' días ' + horas + ' h ' + minutos + ' m ' + segundos + ' s</small> (' + apuestav.N_APUESTAS + ' apuestas)';
                            contenido += '          </div>';
                            contenido += '      </div>';

                            var mas_tdv = [];
                            mas_tdv['index'] = 0;
                            mas_tdv['tdv'] = 0;
                            index = 0;
                            $.each(apuestav.POSIBILIDAD, function (posibilidadk, posibilidadv) {
                                if (posibilidadv.TdV >= mas_tdv['tdv']) {
                                    mas_tdv['index'] = index;
                                    mas_tdv['tdv'] = posibilidadv.TdV;
                                }
                                index++;
                            });
                            index = 0;
                            $.each(apuestav.POSIBILIDAD, function (posibilidadk, posibilidadv) {
                                if (index === mas_tdv['index']) {
                                    contenido += '<div class="row" style="background-color: rgba(0, 128, 0, 0.8); color:white;">';
                                } else {
                                    contenido += '<div class="row" style="background-color: rgba(255, 0, 0, 0.8); color:white;">';
                                }
                                contenido += '      <div class="col-md-6">';
                                contenido += '          ' + posibilidadv.ENUNCIADO;
                                contenido += '      </div>';
                                contenido += '      <div class="col-md-4"">';
                                dias = Math.floor(posibilidadv.TdV / 86400);
                                horas = Math.floor(posibilidadv.TdV / 3600) - (dias * 24);
                                minutos = Math.floor(posibilidadv.TdV / 60) - (dias * 24 * 60) - (horas * 60);
                                segundos = Math.floor(posibilidadv.TdV) - (dias * 24 * 60 * 60) - (horas * 60 * 60) - (minutos * 60);
                                contenido += '              <small>' + dias + ' días ' + horas + ' h ' + minutos + ' m ' + segundos + ' s </small>(' + posibilidadv.N_APUESTAS + ' apuestas)';
                                contenido += '      </div>';
                                contenido += '      <div class="col-md-2" style="float:right;">';
                                contenido += '          <button type="button" class="btn btn-block" style="display: block; margin-top:20%;" onclick="terminarApuesta(' + posibilidadv.ID + ');"><span class="fa fa-check-square-o"></span></button>';
                                contenido += '      </div>';
                                contenido += '      </div>';
                                index++;
                            });
                            contenido += '  <div class="col-md-12">';
                            if(!apuestav.ESTADO){
                                contenido += '      <button type="button" class="btn btn-block" style="display: block;" onclick="pararApuesta(' + apuestav.ID + ',' + 1 + ');">REANUDAR APUESTAS</button>';
                            }
                            else if(apuestav.ESTADO){
                                contenido += '      <button type="button" class="btn btn-block" style="display: block;" onclick="pararApuesta(' + apuestav.ID + ',' + 0 + ');">PAREN LAS APUESTAS!</button>';
                            }
                            contenido += '  </div>';
                            contenido += '  </div>';
                            contenido += '  </div>';
                            contenido += '</div>';
                            $('#panel-apuestas-current').append(contenido);
                        });
                    }
                });
            }
    </script>
{% endblock %}
