{# empty Twig template #}

{% extends "base.html.twig" %}

{% block header %}
    {% include "ciudadano/header.html.twig" %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 menu menu-principal">
                <center><a href="/"><img alt="Logo" src="{{ asset('images/iconos/Alimentacion1.png') }}" /></a></center>
            </div>
        </div>
        <div class="row" style="margin-top: 5%">
            <div class="col-xs-6 menu">
                <center><a href="/ciudadano/alimentacion/comida"><img alt="Logo" src="{{ asset('images/iconos/Comida.png') }}" /></a></center>
            </div>
            <div class="col-xs-6 menu">
                <center><a href="/ciudadano/alimentacion/bebida"><img alt="Logo" src="{{ asset('images/iconos/Bebida.png') }}" /></a></center>
            </div>
        </div>
    </div>
{% endblock %}