{# empty Twig template #}
{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block header %}
    {% include "guardian/header.html.twig" %}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/runtastic.css')}}" rel="stylesheet" type="text/css" />
    <style>
        .input-group-addon svg{
            height: 20px;
            width: 20px;
        }
        .span-deporte{
            color: #000000; 
            background-color: #FFFFFF; 
            border: none; 
            border-top: 2px solid #000000; 
            border-bottom: 2px solid #000000; 
            font-weight: 600;
        }
        .borde-iz{
            border-left: 2px solid #000000;
        }
        label{
            font-size: 45px;
        }
        svg{
            height: 80px;
        }
        @media (max-width: 760px){

        }
        @media (min-width: 760px){

        }
        @media (min-width: 992px){
            svg{
                height: 50px;
            }
            label{
                font-size: 20px;
            }
        }
        @media (min-width: 1200px){
            svg{
                height: 50px;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" id="tienda" class="btn btn-primary btn13" href="#tab1" data-toggle="tab">
                        <span class="fa fa-shopping-cart" aria-hidden="true"></span>
                        <div class="hidden-xs">PUBLICAR</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="exit" class="btn btn-default btn4" onclick="window.history.back();" >
                        <span class="fa fa-arrow-left" aria-hidden="true"></span>
                        <div class="hidden-xs">ATRAS</div>
                    </button>
                </div>
            </div>
        </div>
        <div id="retos"></div>
        <div class="row bordes border-radius" style="margin-top: 1%;">
            <div class="col-md-12">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <legend>Publicar una nueva fase</legend>
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="ejercicio-distrito-bebida">Obligatoriedad de los ejercicios (opcionales por defecto)</label>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        ¿Quiere marcar cada una de las opciones de esta fase como obligatorias?
                                        <div class="material-switch pull-right">
                                            <input id="ejercicio-obligatorio" type="checkbox"/>
                                            <label for="ejercicio-obligatorio" class="label-primary"></label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <svg viewBox="0 0 101 89" xmlns="http://www.w3.org/2000/svg"><path d="M78.67 13.62c0 1.38.24 2.7.73 3.92 1.93 4.3 5.32 6.47 10.16 6.47 1.3 0 2.67-.2 4.12-.7 4.35-1.8 6.53-5 6.53-9.6 0-1.2-.2-2.5-.7-3.9-1.9-4.1-5.2-6.2-9.9-6.2-1.3 0-2.6.25-4.1.7-4.5 1.86-6.8 5-6.8 9.48M9.2 86.58l34.62-33-7.5-7.18-34.62 33-.25.22C.5 80.56 0 81.72 0 83.1c0 2.77 1.37 4.4 4.12 4.85.48.15.9.23 1.2.23 1.46 0 2.67-.46 3.64-1.4l.24-.22m55.68-41.78c0 2.77 1.3 4.4 3.87 4.85.48.15.9.23 1.2.23h24.22c2.9 0 4.6-1.3 5.08-3.92.16-.47.24-.85.24-1.16 0-2.77-1.4-4.38-4.2-4.85-.5-.15-.9-.23-1.2-.23H75.2V29.55L64.63 39.7v4.85l.27.23m-8.3 16.4L37 65.1h-.5c-2.57.76-3.94 2.46-4.1 5.07 0 2.77 1.37 4.4 4.1 4.85.5.16.9.23 1.23.23l1.45-.23 29.3-6c2.57-.77 3.94-2.38 4.1-4.85-.16-1.54-.64-2.77-1.45-3.7l-.24-.22-21.1-20.08h-.3c-1.3-1.08-2.5-1.62-3.64-1.62-2.9 0-4.6 1.3-5.1 3.93-.16.46-.24.84-.24 1.15.16 1.7.8 3 1.94 3.93l14.08 13.6M67.3 24.7l.24.23c.97.93 2.18 1.4 3.63 1.4 2.74-.78 4.44-2.47 5.08-5.1 0-1.37-.48-2.53-1.45-3.45L57.62 1.38C56.65.5 55.44 0 53.98 0c-1.6.16-2.98.7-4.1 1.62l.23-.23-16.9 16.3H33c-.97 1.4-1.47 2.5-1.47 3.4 0 2.74 1.4 4.4 4.14 4.82.47.14.88.22 1.2.22 1.45-.17 2.74-.7 3.87-1.64L53.97 12 67.3 24.7" fill="#8996a3" fill-rule="evenodd"></path></svg>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 0px; margin-right: 0px; margin-top: 1%;">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="input-group">
                                        <span class="input-group-addon span-deporte borde-iz">
                                            <svg viewBox="0 0 102 111" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M50.867.334C23.095.334.587 21.657.587 47.961c0 7.699 1.973 14.949 5.401 21.385a46.773 46.773 0 0 0 4.613 7.04 137.307 137.307 0 0 1 9.143-1.954c9.635-1.729 20.17-2.663 31.13-2.663 11.55 0 21.973 1.015 31.12 2.671 3.214.584 6.246 1.252 9.126 1.982a47.155 47.155 0 0 0 4.639-7.081c3.428-6.437 5.401-13.686 5.401-21.385C101.16 21.652 78.648.329 50.88.329m-2.514 44.45c-1.016.725-1.673 1.877-1.675 3.17 0 2.197 1.872 3.968 4.187 3.968 2.315 0 4.187-1.771 4.192-3.964 0-1.296-.658-2.447-1.675-3.172V27.112h-5.03v17.666M19.125 22.08c-5.68 6.247-9.345 14.181-10.03 22.89h6.168v5.954H9.096c.472 5.943 2.345 11.518 5.285 16.452 10.968-2.256 23.347-3.553 36.5-3.553 13.153 0 25.531 1.297 36.5 3.553 2.94-4.934 4.813-10.509 5.285-16.452h-5.912V44.97h5.913c-.685-8.709-4.351-16.644-10.03-22.89l-4.347 4.119-4.444-4.211 4.347-4.117c-6.595-5.38-14.973-8.852-24.17-9.501v5.844h-6.287V8.37c-9.194.649-17.572 4.121-24.17 9.501l4.347 4.117-4.444 4.211-4.347-4.119" transform="translate(0 0)" fill="#000000" fill-rule="evenodd"></path>
                                            </svg>
                                        </span>
                                        <input type="number" id="publicar-velocidad-c" class="form-control input-number" value="0.00" min="0.00" max="100" step="0.01" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="input-group">
                                        <span class="input-group-addon span-deporte borde-iz">
                                            <svg viewBox="0 0 102 111" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M50.21 18.592c22.534 0 40.868 18.384 40.868 40.984 0 22.597-18.335 40.982-40.868 40.982-22.534 0-40.868-18.384-40.868-40.982 0-22.599 18.335-40.984 40.868-40.984m-2.512 36.622a5.053 5.053 0 0 0-2.514 4.362c0 2.789 2.247 5.04 5.02 5.04 2.777 0 5.02-2.249 5.03-5.03a5.04 5.04 0 0 0-2.512-4.362V36.48h-5.03v18.74M44.34 9.87c-10.124 1.188-19.323 5.415-26.665 11.747l-5.465-5.481-5.33 5.347 5.464 5.48A49.94 49.94 0 0 0 .294 59.584c0 27.644 22.347 50.05 49.913 50.05 27.566 0 49.915-22.41 49.915-50.05 0-25.657-19.248-46.803-44.05-49.714V.78H44.344v9.09" fill="#000000" fill-rule="evenodd"></path>
                                            </svg>
                                        </span>
                                        <input type="number" id="publicar-duracion_horas-c" class="form-control input-number" value="0" min="0" max="24" />
                                        <span class="input-group-addon span-deporte">:</span>
                                        <input type="number" id="publicar-duracion_minutos-c" class="form-control input-number" value="0" min="0" max="60" />
                                        <span class="input-group-addon span-deporte">:</span>
                                        <input type="number" id="publicar-duracion_segundos-c" class="form-control input-number" value="0" min="0" max="60" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:1%">
                            <div class="col-lg-6">
                                <svg viewBox="0 0 253 185" xmlns="http://www.w3.org/2000/svg"><path d="m196.19 123.9c0 29.786 24.14 53.951 53.952 53.951.674 0 1.375-.007 2.061-.056v5.76c-.686.026-1.387.031-2.061.031-32.957 0-59.687-26.727-59.687-59.685 0-32.959 26.73-59.658 59.687-59.658.674 0 1.375.014 2.061.039v5.728c-.686-.023-1.387-.038-2.061-.038-29.811 0-53.952 24.14-53.952 53.928m-31.496 25.979c0 5.949 4.824 10.782 10.78 10.782 5.946 0 10.783-4.834 10.783-10.782v-114.07l-21.563 10.451v103.62m6.687-138.75l-54.706 27.926c-5.311 2.701-7.41 9.21-4.705 14.505l27.352 53.52c2.701 5.291 9.184 7.409 14.512 4.706 5.313-2.699 7.399-9.18 4.7-14.499l-22.432-43.958 45.07-22.985c5.326-2.707 7.41-9.19 4.71-14.508-2.7-5.312-9.186-7.412-14.499-4.711m-118.8 31.797c11.894 0 21.526-9.615 21.526-21.484 0-11.903-9.632-21.516-21.526-21.516-11.856 0-21.495 9.613-21.495 21.516 0 11.869 9.638 21.484 21.495 21.484m67.1 80.969c0 32.958-26.699 59.685-59.658 59.685-32.958 0-59.685-26.727-59.685-59.685 0-31.832 24.941-57.802 56.38-59.52l25.2-12.826v-41.13c0-5.95 4.81-10.786 10.793-10.786 5.951 0 10.755 4.836 10.755 10.786v47.752c0 4.149-2.313 7.748-5.738 9.548l-8.331 4.23c18.13 10.258 30.28 29.666 30.28 51.946m-5.727 0c0-21.537-12.557-40.11-30.864-48.732l-28.06 14.294c-5.286 2.703-11.798.609-14.493-4.716-1.966-3.849-1.376-8.323 1.11-11.524-20.732 7.528-35.573 27.337-35.573 50.678 0 29.786 24.13 53.951 53.953 53.951 29.783 0 53.932-24.16 53.932-53.951" transform="translate(0 0)" fill="#8996a3" fill-rule="evenodd"/></svg>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 0px; margin-right: 0px; margin-top: 1%;">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="input-group">
                                        <span class="input-group-addon span-deporte borde-iz">
                                            <svg viewBox="0 0 102 111" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M50.867.334C23.095.334.587 21.657.587 47.961c0 7.699 1.973 14.949 5.401 21.385a46.773 46.773 0 0 0 4.613 7.04 137.307 137.307 0 0 1 9.143-1.954c9.635-1.729 20.17-2.663 31.13-2.663 11.55 0 21.973 1.015 31.12 2.671 3.214.584 6.246 1.252 9.126 1.982a47.155 47.155 0 0 0 4.639-7.081c3.428-6.437 5.401-13.686 5.401-21.385C101.16 21.652 78.648.329 50.88.329m-2.514 44.45c-1.016.725-1.673 1.877-1.675 3.17 0 2.197 1.872 3.968 4.187 3.968 2.315 0 4.187-1.771 4.192-3.964 0-1.296-.658-2.447-1.675-3.172V27.112h-5.03v17.666M19.125 22.08c-5.68 6.247-9.345 14.181-10.03 22.89h6.168v5.954H9.096c.472 5.943 2.345 11.518 5.285 16.452 10.968-2.256 23.347-3.553 36.5-3.553 13.153 0 25.531 1.297 36.5 3.553 2.94-4.934 4.813-10.509 5.285-16.452h-5.912V44.97h5.913c-.685-8.709-4.351-16.644-10.03-22.89l-4.347 4.119-4.444-4.211 4.347-4.117c-6.595-5.38-14.973-8.852-24.17-9.501v5.844h-6.287V8.37c-9.194.649-17.572 4.121-24.17 9.501l4.347 4.117-4.444 4.211-4.347-4.119" transform="translate(0 0)" fill="#000000" fill-rule="evenodd"></path>
                                            </svg>
                                        </span>
                                        <input type="number" id="publicar-velocidad-b" class="form-control input-number" value="0.00" min="0.00" max="100" step="0.01" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="input-group">
                                        <span class="input-group-addon span-deporte borde-iz">
                                            <svg viewBox="0 0 102 111" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M50.21 18.592c22.534 0 40.868 18.384 40.868 40.984 0 22.597-18.335 40.982-40.868 40.982-22.534 0-40.868-18.384-40.868-40.982 0-22.599 18.335-40.984 40.868-40.984m-2.512 36.622a5.053 5.053 0 0 0-2.514 4.362c0 2.789 2.247 5.04 5.02 5.04 2.777 0 5.02-2.249 5.03-5.03a5.04 5.04 0 0 0-2.512-4.362V36.48h-5.03v18.74M44.34 9.87c-10.124 1.188-19.323 5.415-26.665 11.747l-5.465-5.481-5.33 5.347 5.464 5.48A49.94 49.94 0 0 0 .294 59.584c0 27.644 22.347 50.05 49.913 50.05 27.566 0 49.915-22.41 49.915-50.05 0-25.657-19.248-46.803-44.05-49.714V.78H44.344v9.09" fill="#000000" fill-rule="evenodd"></path>
                                            </svg>
                                        </span>
                                        <input type="number" id="publicar-duracion_horas-b" class="form-control input-number" value="0" min="0" max="24" />
                                        <span class="input-group-addon span-deporte">:</span>
                                        <input type="number" id="publicar-duracion_minutos-b" class="form-control input-number" value="0" min="0" max="60" />
                                        <span class="input-group-addon span-deporte">:</span>
                                        <input type="number" id="publicar-duracion_segundos-b" class="form-control input-number" value="0" min="0" max="60" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label for="beneficio" style="margin-top:1%;">Beneficio</label>
                        <div class="row" style="margin-left: 0px; margin-right: 0px;">
                            <div class="col-xs-3">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="number" id="dias_beneficio" class="form-control input-number" value="0" min="0" max="100" />
                                        <span class="input-group-addon">d</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="number" id="horas_beneficio" class="form-control input-number" value="0" min="0" max="24" />
                                        <span class="input-group-addon">h</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="number" id="minutos_beneficio" class="form-control input-number" value="0" min="0" max="60" />
                                        <span class="input-group-addon">m</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="number" id="segundos_beneficio" class="form-control input-number" value="0" min="0" max="60" />
                                        <span class="input-group-addon">s</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-block btn-default" style="margin-top: 1%;" onclick="publicarDeporte();">PUBLICAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script>
        contador = 1;
        function publicarDeporte() {
            var velocidad_b = parseFloat($("#publicar-velocidad-b").val());
            var horas_b = parseInt($("#publicar-duracion_horas-b").val());
            var minutos_b = parseInt($("#publicar-duracion_minutos-b").val());
            var segundos_b = parseInt($("#publicar-duracion_segundos-b").val());
            var tiempo_b = ((horas_b * 60) + minutos_b) * 60 + segundos_b;
            var velocidad_c = parseFloat($("#publicar-velocidad-c").val());
            var horas_c = parseInt($("#publicar-duracion_horas-c").val());
            var minutos_c = parseInt($("#publicar-duracion_minutos-c").val());
            var segundos_c = parseInt($("#publicar-duracion_segundos-c").val());
            var tiempo_c = ((horas_c * 60) + minutos_c) * 60 + segundos_c;
            var dias = parseInt($("#dias_beneficio").val());
            var horas = parseInt($("#horas_beneficio").val());
            var minutos = parseInt($("#minutos_beneficio").val());
            var segundos = parseInt($("#segundos_beneficio").val());
            var tiempo = ((((dias * 24) + horas) * 60) + minutos) * 60 + segundos;
            var obligatorio = $("#ejercicio-obligatorio:checked").length;
            if (isNaN(velocidad_c) || isNaN(velocidad_b)) {
                alert("Formato incorrecto para velocidad. Ej: 2,4");
            } else if (velocidad_c <= 0.00 || velocidad_b <= 0.00) {
                alert('La velocidad debe ser mayor a cero');
            } else if (tiempo_c <= 0 || tiempo_b <= 0) {
                alert('La sesión debe durar más de un segundo');
            } else if (tiempo <= 0) {
                alert('La fase debe tener algún beneficio');
            } else {
                ruta = '/guardian/ejercicios/deporte/publicar';
                datos = {
                    'VELOCIDAD_BICICLETA': velocidad_b,
                    'VELOCIDAD_RUNNING': velocidad_c,
                    'DURACION_BICICLETA': tiempo_b,
                    'DURACION_RUNNING': tiempo_c,
                    'BENEFICIO_FASE': tiempo,
                    'FASE': contador,
                    'OBLIGATORIO': obligatorio
                };
                $.post(ruta, datos, function (data, status) {
                    data = jQuery.parseJSON(data);
                    alert(data.message);
                    location.reload();
                });
            }
        }
        function modificarFase(id) {
            var velocidad_b = parseFloat($("#velocidad-b"+ id).val());
            var horas_b = parseInt($("#duracion_horas-b"+ id).val());
            var minutos_b = parseInt($("#duracion_minutos-b"+ id).val());
            var segundos_b = parseInt($("#duracion_segundos-b"+ id).val());
            var tiempo_b = ((horas_b * 60) + minutos_b) * 60 + segundos_b;
            var velocidad_c = parseFloat($("#velocidad-c"+ id).val());
            var horas_c = parseInt($("#duracion_horas-c"+ id).val());
            var minutos_c = parseInt($("#duracion_minutos-c"+ id).val());
            var segundos_c = parseInt($("#duracion_segundos-c"+ id).val());
            var tiempo_c = ((horas_c * 60) + minutos_c) * 60 + segundos_c;
            var dias = parseInt($("#dias_beneficio"+ id).val());
            var horas = parseInt($("#horas_beneficio"+ id).val());
            var minutos = parseInt($("#minutos_beneficio"+ id).val());
            var segundos = parseInt($("#segundos_beneficio"+ id).val());
            var tiempo = ((((dias * 24) + horas) * 60) + minutos) * 60 + segundos;
            var obligatorio = $("#ejercicio-obligatorio"+ id +":checked").length;
            if (isNaN(velocidad_c) || isNaN(velocidad_b)) {
                alert("Formato incorrecto para velocidad. Ej: 2,4");
            } else if (velocidad_c <= 0.00 || velocidad_b <= 0.00) {
                alert('La velocidad debe ser mayor a cero');
            } else if (tiempo_c <= 0 || tiempo_b <= 0) {
                alert('La sesión debe durar más de un segundo');
            } else if (tiempo <= 0) {
                alert('La fase debe tener algún beneficio');
            } else {
                ruta = '/guardian/ejercicios/deporte/modificarReto';
                datos = {
                    'VELOCIDAD_BICICLETA': velocidad_b,
                    'VELOCIDAD_RUNNING': velocidad_c,
                    'DURACION_BICICLETA': tiempo_b,
                    'DURACION_RUNNING': tiempo_c,
                    'BENEFICIO_FASE': tiempo,
                    'FASE': contador,
                    'OBLIGATORIO': obligatorio,
                    'ID': id
                };
                $.post(ruta, datos, function (data, status) {
                    data = jQuery.parseJSON(data);
                    alert(data.message);
                    location.reload();
                });
            }
        }
        function eliminarFase(id) {
            ruta = '/guardian/ejercicios/deporte/eliminarReto';
            datos = {
                'ID': id
            };
            console.log(datos);
            $.post(ruta, datos, function (data, status) {
                data = jQuery.parseJSON(data);
                if (data.estado === 'ERROR') {
                    alert(data.message);
                }
                location.reload();
            });
        }
        function getRetos() {
            $("#retos").html();
            var ruta = '/ciudadano/ocio/deporte/getRetosDeporte';
            $.get(ruta, function (data, status) {
                datos = jQuery.parseJSON(data);
                console.log(datos);
                if (datos.estado === 'OK') {
                    contenido = '';
                    $.each(datos.message, function (k, v) {
                        contenido += '<div class="row bordes border-radius" style="margin-top: 1%;">';
                        contenido += '<div class="col-lg-12">';
                        contenido += '<div class="tab-content">';
                        contenido += '  <div class="tab-pane fade in active" id="tab1">';
                        contenido += '      <legend>FASE #' + contador + '</legend>';
                        contenido += '      <div class="row">';
                        contenido += '          <div class="col-lg-6">';
                        contenido += '              <label for="ejercicio-distrito-bebida">Obligatoriedad de los retos (opcionales por defecto)</label>';
                        contenido += '              <ul class="list-group">';
                        contenido += '                  <li class="list-group-item">';
                        contenido += '                      ¿Quiere marcar cada una de las opciones de esta fase como obligatorias?';
                        contenido += '                      <div class="material-switch pull-right">';
                        if (v[0].OBLIGATORIO) {
                            contenido += '                          <input id="ejercicio-obligatorio' + v[0].ID + '" type="checkbox" checked/>';
                        } else {
                            contenido += '                          <input id="ejercicio-obligatorio' + v[0].ID + '" type="checkbox"/>';
                        }
                        contenido += '                          <label for="ejercicio-obligatorio' + v[0].ID + '" class="label-primary"></label>';
                        contenido += '                      </div>';
                        contenido += '                  </li>';
                        contenido += '              </ul>';
                        contenido += '          </div>';
                        contenido += '      </div>';
                        contenido += '      <div class="row">';
                        contenido += '          <div class="col-lg-6">';
                        contenido += '              <svg viewBox="0 0 101 89" xmlns="http://www.w3.org/2000/svg"><path d="M78.67 13.62c0 1.38.24 2.7.73 3.92 1.93 4.3 5.32 6.47 10.16 6.47 1.3 0 2.67-.2 4.12-.7 4.35-1.8 6.53-5 6.53-9.6 0-1.2-.2-2.5-.7-3.9-1.9-4.1-5.2-6.2-9.9-6.2-1.3 0-2.6.25-4.1.7-4.5 1.86-6.8 5-6.8 9.48M9.2 86.58l34.62-33-7.5-7.18-34.62 33-.25.22C.5 80.56 0 81.72 0 83.1c0 2.77 1.37 4.4 4.12 4.85.48.15.9.23 1.2.23 1.46 0 2.67-.46 3.64-1.4l.24-.22m55.68-41.78c0 2.77 1.3 4.4 3.87 4.85.48.15.9.23 1.2.23h24.22c2.9 0 4.6-1.3 5.08-3.92.16-.47.24-.85.24-1.16 0-2.77-1.4-4.38-4.2-4.85-.5-.15-.9-.23-1.2-.23H75.2V29.55L64.63 39.7v4.85l.27.23m-8.3 16.4L37 65.1h-.5c-2.57.76-3.94 2.46-4.1 5.07 0 2.77 1.37 4.4 4.1 4.85.5.16.9.23 1.23.23l1.45-.23 29.3-6c2.57-.77 3.94-2.38 4.1-4.85-.16-1.54-.64-2.77-1.45-3.7l-.24-.22-21.1-20.08h-.3c-1.3-1.08-2.5-1.62-3.64-1.62-2.9 0-4.6 1.3-5.1 3.93-.16.46-.24.84-.24 1.15.16 1.7.8 3 1.94 3.93l14.08 13.6M67.3 24.7l.24.23c.97.93 2.18 1.4 3.63 1.4 2.74-.78 4.44-2.47 5.08-5.1 0-1.37-.48-2.53-1.45-3.45L57.62 1.38C56.65.5 55.44 0 53.98 0c-1.6.16-2.98.7-4.1 1.62l.23-.23-16.9 16.3H33c-.97 1.4-1.47 2.5-1.47 3.4 0 2.74 1.4 4.4 4.14 4.82.47.14.88.22 1.2.22 1.45-.17 2.74-.7 3.87-1.64L53.97 12 67.3 24.7" fill="#8996a3" fill-rule="evenodd"></path></svg>';
                        contenido += '          </div>';
                        contenido += '      </div>';
                        contenido += '      <div class="row" style="margin-left: 0px; margin-right: 0px; margin-top: 1%;">';
                        contenido += '          <div class="col-md-6">';
                        contenido += '              <div class="row">';
                        contenido += '                  <div class="input-group">';
                        contenido += '                      <span class="input-group-addon span-deporte borde-iz">';
                        contenido += '                          <svg viewBox="0 0 102 111" xmlns="http://www.w3.org/2000/svg">';
                        contenido += '                              <path d="M50.867.334C23.095.334.587 21.657.587 47.961c0 7.699 1.973 14.949 5.401 21.385a46.773 46.773 0 0 0 4.613 7.04 137.307 137.307 0 0 1 9.143-1.954c9.635-1.729 20.17-2.663 31.13-2.663 11.55 0 21.973 1.015 31.12 2.671 3.214.584 6.246 1.252 9.126 1.982a47.155 47.155 0 0 0 4.639-7.081c3.428-6.437 5.401-13.686 5.401-21.385C101.16 21.652 78.648.329 50.88.329m-2.514 44.45c-1.016.725-1.673 1.877-1.675 3.17 0 2.197 1.872 3.968 4.187 3.968 2.315 0 4.187-1.771 4.192-3.964 0-1.296-.658-2.447-1.675-3.172V27.112h-5.03v17.666M19.125 22.08c-5.68 6.247-9.345 14.181-10.03 22.89h6.168v5.954H9.096c.472 5.943 2.345 11.518 5.285 16.452 10.968-2.256 23.347-3.553 36.5-3.553 13.153 0 25.531 1.297 36.5 3.553 2.94-4.934 4.813-10.509 5.285-16.452h-5.912V44.97h5.913c-.685-8.709-4.351-16.644-10.03-22.89l-4.347 4.119-4.444-4.211 4.347-4.117c-6.595-5.38-14.973-8.852-24.17-9.501v5.844h-6.287V8.37c-9.194.649-17.572 4.121-24.17 9.501l4.347 4.117-4.444 4.211-4.347-4.119" transform="translate(0 0)" fill="#000000" fill-rule="evenodd"></path>';
                        contenido += '                          </svg>';
                        contenido += '                      </span>';
                        contenido += '                      <input type="number" id="velocidad-c' + v[0].ID + '" class="form-control input-number" value="' + v[0].VELOCIDAD_RUN + '" min="0.00" max="100" step="0.01" />';
                        contenido += '                  </div>';
                        contenido += '              </div>';
                        contenido += '          </div>';
                        contenido += '          <div class="col-md-6">';
                        contenido += '              <div class="row">';
                        contenido += '                  <div class="input-group">';
                        contenido += '                      <span class="input-group-addon span-deporte borde-iz">';
                        contenido += '                          <svg viewBox="0 0 102 111" xmlns="http://www.w3.org/2000/svg">';
                        contenido += '                              <path d="M50.21 18.592c22.534 0 40.868 18.384 40.868 40.984 0 22.597-18.335 40.982-40.868 40.982-22.534 0-40.868-18.384-40.868-40.982 0-22.599 18.335-40.984 40.868-40.984m-2.512 36.622a5.053 5.053 0 0 0-2.514 4.362c0 2.789 2.247 5.04 5.02 5.04 2.777 0 5.02-2.249 5.03-5.03a5.04 5.04 0 0 0-2.512-4.362V36.48h-5.03v18.74M44.34 9.87c-10.124 1.188-19.323 5.415-26.665 11.747l-5.465-5.481-5.33 5.347 5.464 5.48A49.94 49.94 0 0 0 .294 59.584c0 27.644 22.347 50.05 49.913 50.05 27.566 0 49.915-22.41 49.915-50.05 0-25.657-19.248-46.803-44.05-49.714V.78H44.344v9.09" fill="#000000" fill-rule="evenodd"></path>';
                        contenido += '                          </svg>';
                        contenido += '                      </span>';
                        contenido += '                      <input type="number" id="duracion_horas-c' + v[0].ID + '" class="form-control input-number" value="' + v[0].DURACION_RUN.horas + '" min="0" max="24" />';
                        contenido += '                      <span class="input-group-addon span-deporte">:</span>';
                        contenido += '                      <input type="number" id="duracion_minutos-c' + v[0].ID + '" class="form-control input-number" value="' + v[0].DURACION_RUN.minutos + '" min="0" max="60" />';
                        contenido += '                      <span class="input-group-addon span-deporte">:</span>';
                        contenido += '                      <input type="number" id="duracion_segundos-c' + v[0].ID + '" class="form-control input-number" value="' + v[0].DURACION_RUN.segundos + '" min="0" max="60" />';
                        contenido += '                  </div>';
                        contenido += '              </div>';
                        contenido += '          </div>';
                        contenido += '      </div>';
                        contenido += '      <div class="row" style="margin-top: 1%;">';
                        contenido += '          <div class="col-lg-6">';
                        contenido += '              <svg viewBox="0 0 253 185" xmlns="http://www.w3.org/2000/svg"><path d="m196.19 123.9c0 29.786 24.14 53.951 53.952 53.951.674 0 1.375-.007 2.061-.056v5.76c-.686.026-1.387.031-2.061.031-32.957 0-59.687-26.727-59.687-59.685 0-32.959 26.73-59.658 59.687-59.658.674 0 1.375.014 2.061.039v5.728c-.686-.023-1.387-.038-2.061-.038-29.811 0-53.952 24.14-53.952 53.928m-31.496 25.979c0 5.949 4.824 10.782 10.78 10.782 5.946 0 10.783-4.834 10.783-10.782v-114.07l-21.563 10.451v103.62m6.687-138.75l-54.706 27.926c-5.311 2.701-7.41 9.21-4.705 14.505l27.352 53.52c2.701 5.291 9.184 7.409 14.512 4.706 5.313-2.699 7.399-9.18 4.7-14.499l-22.432-43.958 45.07-22.985c5.326-2.707 7.41-9.19 4.71-14.508-2.7-5.312-9.186-7.412-14.499-4.711m-118.8 31.797c11.894 0 21.526-9.615 21.526-21.484 0-11.903-9.632-21.516-21.526-21.516-11.856 0-21.495 9.613-21.495 21.516 0 11.869 9.638 21.484 21.495 21.484m67.1 80.969c0 32.958-26.699 59.685-59.658 59.685-32.958 0-59.685-26.727-59.685-59.685 0-31.832 24.941-57.802 56.38-59.52l25.2-12.826v-41.13c0-5.95 4.81-10.786 10.793-10.786 5.951 0 10.755 4.836 10.755 10.786v47.752c0 4.149-2.313 7.748-5.738 9.548l-8.331 4.23c18.13 10.258 30.28 29.666 30.28 51.946m-5.727 0c0-21.537-12.557-40.11-30.864-48.732l-28.06 14.294c-5.286 2.703-11.798.609-14.493-4.716-1.966-3.849-1.376-8.323 1.11-11.524-20.732 7.528-35.573 27.337-35.573 50.678 0 29.786 24.13 53.951 53.953 53.951 29.783 0 53.932-24.16 53.932-53.951" transform="translate(0 0)" fill="#8996a3" fill-rule="evenodd"/></svg>';
                        contenido += '          </div>';
                        contenido += '      </div>';
                        contenido += '      <div class="row" style="margin-left: 0px; margin-right: 0px; margin-top: 1%;">';
                        contenido += '          <div class="col-md-6">';
                        contenido += '              <div class="row">';
                        contenido += '                  <div class="input-group">';
                        contenido += '                      <span class="input-group-addon span-deporte borde-iz">';
                        contenido += '                          <svg viewBox="0 0 102 111" xmlns="http://www.w3.org/2000/svg">';
                        contenido += '                              <path d="M50.867.334C23.095.334.587 21.657.587 47.961c0 7.699 1.973 14.949 5.401 21.385a46.773 46.773 0 0 0 4.613 7.04 137.307 137.307 0 0 1 9.143-1.954c9.635-1.729 20.17-2.663 31.13-2.663 11.55 0 21.973 1.015 31.12 2.671 3.214.584 6.246 1.252 9.126 1.982a47.155 47.155 0 0 0 4.639-7.081c3.428-6.437 5.401-13.686 5.401-21.385C101.16 21.652 78.648.329 50.88.329m-2.514 44.45c-1.016.725-1.673 1.877-1.675 3.17 0 2.197 1.872 3.968 4.187 3.968 2.315 0 4.187-1.771 4.192-3.964 0-1.296-.658-2.447-1.675-3.172V27.112h-5.03v17.666M19.125 22.08c-5.68 6.247-9.345 14.181-10.03 22.89h6.168v5.954H9.096c.472 5.943 2.345 11.518 5.285 16.452 10.968-2.256 23.347-3.553 36.5-3.553 13.153 0 25.531 1.297 36.5 3.553 2.94-4.934 4.813-10.509 5.285-16.452h-5.912V44.97h5.913c-.685-8.709-4.351-16.644-10.03-22.89l-4.347 4.119-4.444-4.211 4.347-4.117c-6.595-5.38-14.973-8.852-24.17-9.501v5.844h-6.287V8.37c-9.194.649-17.572 4.121-24.17 9.501l4.347 4.117-4.444 4.211-4.347-4.119" transform="translate(0 0)" fill="#000000" fill-rule="evenodd"></path>';
                        contenido += '                          </svg>';
                        contenido += '                      </span>';
                        contenido += '                      <input type="number" id="velocidad-b' + v[0].ID + '" class="form-control input-number" value="' + v[0].VELOCIDAD_BICI + '" min="0.00" max="100" step="0.01" />';
                        contenido += '                  </div>';
                        contenido += '              </div>';
                        contenido += '          </div>';
                        contenido += '          <div class="col-md-6">';
                        contenido += '              <div class="row">';
                        contenido += '                  <div class="input-group">';
                        contenido += '                      <span class="input-group-addon span-deporte borde-iz">';
                        contenido += '                          <svg viewBox="0 0 102 111" xmlns="http://www.w3.org/2000/svg">';
                        contenido += '                              <path d="M50.21 18.592c22.534 0 40.868 18.384 40.868 40.984 0 22.597-18.335 40.982-40.868 40.982-22.534 0-40.868-18.384-40.868-40.982 0-22.599 18.335-40.984 40.868-40.984m-2.512 36.622a5.053 5.053 0 0 0-2.514 4.362c0 2.789 2.247 5.04 5.02 5.04 2.777 0 5.02-2.249 5.03-5.03a5.04 5.04 0 0 0-2.512-4.362V36.48h-5.03v18.74M44.34 9.87c-10.124 1.188-19.323 5.415-26.665 11.747l-5.465-5.481-5.33 5.347 5.464 5.48A49.94 49.94 0 0 0 .294 59.584c0 27.644 22.347 50.05 49.913 50.05 27.566 0 49.915-22.41 49.915-50.05 0-25.657-19.248-46.803-44.05-49.714V.78H44.344v9.09" fill="#000000" fill-rule="evenodd"></path>';
                        contenido += '                          </svg>';
                        contenido += '                      </span>';
                        contenido += '                      <input type="number" id="duracion_horas-b' + v[0].ID + '" class="form-control input-number" value="' + v[0].DURACION_BICI.horas + '" min="0" max="24" />';
                        contenido += '                      <span class="input-group-addon span-deporte">:</span>';
                        contenido += '                      <input type="number" id="duracion_minutos-b' + v[0].ID + '" class="form-control input-number" value="' + v[0].DURACION_BICI.minutos + '" min="0" max="60" />';
                        contenido += '                      <span class="input-group-addon span-deporte">:</span>';
                        contenido += '                      <input type="number" id="duracion_segundos-b' + v[0].ID + '" class="form-control input-number" value="' + v[0].DURACION_BICI.segundos + '" min="0" max="60" />';
                        contenido += '                  </div>';
                        contenido += '              </div>';
                        contenido += '          </div>';
                        contenido += '      </div>';
                        contenido += '      <label for="beneficio" style="margin-top:1%;">Beneficio</label>';
                        contenido += '      <div class="row" style="margin-left: 0px; margin-right: 0px;">';
                        contenido += '          <div class="col-xs-3">';
                        contenido += '              <div class="row">';
                        contenido += '                  <div class="input-group">';
                        contenido += '                      <input type="number" id="dias_beneficio' + v[0].ID + '" class="form-control input-number" value="' + v[0].BENEFICIO.dias + '" min="0" max="100" />';
                        contenido += '                      <span class="input-group-addon">d</span>';
                        contenido += '                  </div>';
                        contenido += '              </div>';
                        contenido += '          </div>';
                        contenido += '          <div class="col-xs-3">';
                        contenido += '              <div class="row">';
                        contenido += '                  <div class="input-group">';
                        contenido += '                      <input type="number" id="horas_beneficio' + v[0].ID + '" class="form-control input-number" value="' + v[0].BENEFICIO.horas + '" min="0" max="24" />';
                        contenido += '                      <span class="input-group-addon">h</span>';
                        contenido += '                  </div>';
                        contenido += '              </div>';
                        contenido += '          </div>';
                        contenido += '          <div class="col-xs-3">';
                        contenido += '              <div class="row">';
                        contenido += '                  <div class="input-group">';
                        contenido += '                      <input type="number" id="minutos_beneficio' + v[0].ID + '" class="form-control input-number" value="' + v[0].BENEFICIO.minutos + '" min="0" max="60" />';
                        contenido += '                      <span class="input-group-addon">m</span>';
                        contenido += '                  </div>';
                        contenido += '              </div>';
                        contenido += '          </div>';
                        contenido += '          <div class="col-xs-3">';
                        contenido += '              <div class="row">';
                        contenido += '                  <div class="input-group">';
                        contenido += '                      <input type="number" id="segundos_beneficio' + v[0].ID + '" class="form-control input-number" value="' + v[0].BENEFICIO.segundos + '" min="0" max="60" />';
                        contenido += '                      <span class="input-group-addon">s</span>';
                        contenido += '                  </div>';
                        contenido += '              </div>';
                        contenido += '          </div>';
                        contenido += '      </div>';
                        contenido += '      <div class="row" style="margin-top: 1%;">';
                        contenido += '          <div class="col-xs-6">';
                        contenido += '              <button class="btn btn-block btn-primary" style="margin-top: 1%;" onclick="modificarFase(' + v[0].ID + ');"><span class="fa fa-pencil-square-o"></span>&nbsp;MODIFICAR</button>';
                        contenido += '          </div>';
                        contenido += '          <div class="col-xs-6">';
                        contenido += '              <button class="btn btn-block btn-warning" style="margin-top: 1%;" onclick="eliminarFase(' + v[0].ID + ');"><span class="fa fa-trash-o"></span>&nbsp;ELIMINAR</button>';
                        contenido += '          </div>';
                        contenido += '      </div>';
                        contenido += '  </div>';
                        contenido += '</div>';
                        contenido += '</div>';
                        contenido += '</div>';
                        contador++;
                    });
                    $("#retos").html(contenido);
                }
            });
        }
        $(document).ready(function () {
            getRetos();
            $(".btn-pref .btn").click(function () {
                $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
                $(this).removeClass("btn-default").addClass("btn-primary");
            });
        });
    </script>
{% endblock %}
