{% extends "base.html.twig" %}

{% block header %}
    {% include "ciudadano/header.html.twig" %}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/alimentacion.css')}}" rel="stylesheet" type="text/css" />
    <style>
        .file-upload-indicator {
            display: inline;
            cursor: default;
            opacity: .8;
            width: 60%;
        }
        .file-drop-zone{
            border-top-color: rgb(255, 255, 255);
            border-top-style: dotted;
            border-top-width: 3px;
            border-right-color: rgb(255, 255, 255);
            border-right-style: dotted;
            border-right-width: 3px;
            border-left-color: rgb(255, 255, 255);
            border-left-style: dotted;
            border-left-width: 3px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        .file-preview-frame {
            position: relative;
            display: table;
            margin: 8px;
            height: 160px;
            border: 1px solid #ddd;
            box-shadow: 1px 1px 5px 0 #a2958a;
            padding: 6px;
            float: left;
            text-align: center;
            vertical-align: middle;
        }
        .file-preview-image {
            vertical-align: middle;
            image-orientation: from-image;
        }
        .file-preview {
            border-radius: 5px;
            border: 1px solid #ddd;
            padding: 5px;
            width: 100%;
            margin-bottom: 5px;
        }
        .close {
            float: right;
            font-size: 21px;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            filter: alpha(opacity=20);
            opacity: .2;
        }
        .file-thumbnail-footer {
            position: relative;
        }
        .file-footer-caption {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 160px;
            text-align: center;
            padding-top: 4px;
            font-size: 11px;
            color: #777;
            margin: 5px auto;
        }
        .file-preview .clickable, .clickable .file-drop-zone-title {
            cursor: pointer;
        }
        .file-drop-zone {
            border: 1px dashed #aaa;
            border-radius: 4px;
            height: 100%;
            text-align: center;
            vertical-align: middle;
            margin: 12px 15px 12px 12px;
            padding: 5px;
        }
        code, kbd, pre, samp {
            font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
        }
        code, kbd, pre, samp {
            font-family: monospace,monospace;
            font-size: 1em;
        }
        .file-thumb-progress .progress, .file-thumb-progress .progress-bar {
            height: 10px;
            font-size: 9px;
            line-height: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row" style="margin-top: 1%;">
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" id="tienda" class="btn btn-primary btn13 btn-menu-first" href="#tab1" data-toggle="tab">
                        <span class="fa fa-shopping-cart" aria-hidden="true"></span>
                        <div class="hidden-xs">TIENDA</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="proceso" class="btn btn-default btn13" href="#tab2" data-toggle="tab">
                        <span class="fa fa-refresh" aria-hidden="true"></span>
                        <div class="hidden-xs">EN PROCESO</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="terminado" class="btn btn-default btn13" href="#tab3" data-toggle="tab">
                        <span class="fa fa-archive" aria-hidden="true"></span>
                        <div class="hidden-xs">REALIZADOS</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="exit" class="btn btn-default btn4 btn-menu-last" onclick="window.history.back();" >
                        <span class="fa fa-arrow-left" aria-hidden="true"></span>
                        <div class="hidden-xs">ATRÁS</div>
                    </button>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row bordes border-radius tablon-progreso">
                    <h5>Energía*</h5>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-danger" id="progress-tsc"></div>
                    </div>
                    <div class="row" style="margin-top: 1%;">
                        <span class="recordatorio">
                            *Recuerda que debes alimentarte al menos cada 3 semanas para no morir de inanición.
                        </span>
                    </div>
                </div>
                <div class="row bordes border-radius tablon-contenido" id="seccion_compra" style="margin-bottom: 1%;">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
                            <div class="row" style="margin-top: 1%;">
                                <div class="fila-producto-tienda-inf col-lg-8 col-lg-offset-3">
                                    <div class="slot fila btn-menu-first" id="tienda-individual-1"></div>
                                    <div class="slot fila" id="tienda-individual-2"></div>
                                    <div class="slot fila" id="tienda-individual-3"></div>
                                    <div class="slot fila" id="tienda-individual-4"></div>
                                    <div class="slot fila" id="tienda-individual-5"></div>
                                    <div class="slot fila" id="tienda-individual-6"></div>
                                    <div class="slot btn-menu-last" id="tienda-individual-7"></div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 1%;">
                                <div class="col-xs-12 border-radius" id="detalle-tienda"></div>
                            </div>
                            <div class="row" style="margin-top: 1%;">
                                <div class="fila-producto-tienda-sup">
                                    <div class="slot fila btn-menu-first" id="tienda-distrito-1"></div>
                                    <div class="slot fila" id="tienda-distrito-2"></div>
                                    <div class="slot btn-menu-last" id="tienda-distrito-3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="tab2">
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <div class="row" style="margin-top: 1%;">
                                        <div class="slot border-radius" id="proceso-individual"></div>
                                        <div class="slot border-radius" style="float:right;" id="proceso-distrito"></div>
                                    </div>

                                </div>
                                <div class="col-xs-12 border-radius" style="margin-top: 1%;" id="detalle-proceso"></div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="tab3">
                            <div class="row">
                                <div class="fila-producto-terminado">
                                    <div class="slot fila btn-menu-first" id="terminado-1"></div>
                                    <div class="slot fila" id="terminado-2"></div>
                                    <div class="slot fila" id="terminado-3"></div>
                                    <div class="slot fila" id="terminado-4"></div>
                                    <div class="slot btn-menu-last" id="terminado-5"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="fila-producto-terminado">
                                    <div class="slot fila btn-menu-first" id="terminado-6"></div>
                                    <div class="slot fila" id="terminado-7"></div>
                                    <div class="slot fila" id="terminado-8"></div>
                                    <div class="slot fila" id="terminado-9"></div>
                                    <div class="slot btn-menu-last" id="terminado-10"></div>
                                </div>
                            </div>
                            <div class="row border-radius" id="detalle-terminado" style="margin-top: 1%;"></div>
                        </div>
                        <div class="row tab-pane fade in" id="tab4">
                            <input id="entrega-individual" name="entrega" type="file" multiple class="file-loading">
                        </div>
                        <div class="row tab-pane fade in" id="tab5">
                            <input id="entrega-distrito" name="entrega" type="file" multiple class="file-loading">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var ya_solicitado_individual = false;
        var ya_solicitado_distrito = false;
        var puede_entregar = true;
        var id_ejercicio = 0;
        function setId(id) {
            id_ejercicio = id;
            console.log(id);
            $('#entrega-individual').fileinput('refresh', {uploadExtraData: {"id_ejercicio": id_ejercicio, "tipo": "individual"}});
            $('#entrega-distrito').fileinput('refresh', {uploadExtraData: {"id_ejercicio": id_ejercicio, "tipo": "distrito"}});
        }
        $("#entrega-individual").fileinput({
            uploadUrl: "/ciudadano/alimentacion/comida/entregarAlimento",
            uploadExtraData: {"id_ejercicio": id_ejercicio, "tipo": "individual"},
            uploadAsync: true,
            maxFileCount: 1,
            showBrowse: false,
            browseOnZoneClick: true,
            maxFileSize: 2000
        });
        $("#entrega-distrito").fileinput({
            uploadUrl: "/ciudadano/alimentacion/comida/entregarAlimento",
            uploadExtraData: {"id_ejercicio": id_ejercicio, "tipo": "individual"},
            uploadAsync: true,
            maxFileCount: 1,
            showBrowse: false,
            browseOnZoneClick: true,
            maxFileSize: 2000
        });
        $("#entrega-individual").on('fileuploaded', function (event, data, previewId, index) {
            var response = data.response;
            data = jQuery.parseJSON(response);
            $('#modal-avisos2').click();
            mostrarResultadoOperacion(data.message);
        });
        $("#entrega-distrito").on('fileuploaded', function (event, data, previewId, index) {
            var response = data.response;
            data = jQuery.parseJSON(response);
            console.log(data);
            $('#modal-avisos2').click();
            mostrarResultadoOperacion(data.message);
        });
        $('#entrega-individual').on('fileselectnone', function (event) {
            $('#modal-avisos2').click();
            mostrarResultadoOperacion("Huh! No hay ficheros seleccionados.");
        });
        $('#entrega-distrito').on('fileselectnone', function (event) {
            $('#modal-avisos2').click();
            mostrarResultadoOperacion("Huh! No hay ficheros seleccionados.");
        });
        $(document).ready(function () {
            obtenerTienda();
            $(".btn-pref .btn").click(function () {
                $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
                $(this).removeClass("btn-default").addClass("btn-primary");
            });
            {% if info.message is defined or info.type is defined%} $('#box_modal_result').click();{% endif %}
            setTSC();
        });
        function solicitar(id) {
            var ruta = '/solicitar/' + id;
            $.get(ruta, function (data, status) {
                if (data.respuesta === 'OK') {
                    location.reload();
                } else {
                    $('#mensaje-titulo').html('&nbsp;ERROR...');
                    $('#mensaje-texto').html(data.mensaje);
                    $('#modal-avisos2').click();
                }
            });
        }
        $(function () {
            setInterval(function () {
                setTSC();
            }, 5000);
        });
        function setTSC() {
            var ruta = '/getTiempoSinComer';
            $.get(ruta, function (data, status) {
                datos = jQuery.parseJSON(data);
                if (datos.porcentaje !== 'null') {
                    $('#progress-tsc').width(datos.porcentaje + '%');
                    contenido = '';
                    if (datos.porcentaje > 0) {
                        contenido += datos.porcentaje.toFixed(2) + '%';
                    }
                    if (datos.porcentaje <= 0) {
                        contenido += 'FALLECIDO POR INANICION';
                    }
                    if (datos.porcentaje > 100) {
                        contenido = '100%';
                    }
                    $('#progress-tsc').html(contenido);
                } else {
                    $('#progress-tsc').parent().hide();
                }
            });
        }
        function obtenerTienda() {
            ruta = '/ciudadano/alimentacion/comida/tienda';
            $.get(ruta, function (data, status) {
                datos = jQuery.parseJSON(data);
                if (datos.estado === 'OK') {
                    if (datos.message.YA_SOLICITADO_INDIVIDUAL) {
                        ya_solicitado_individual = true;
                    }
                    if (datos.message.YA_SOLICITADO_DISTRITO) {
                        ya_solicitado_distrito = true;
                    }
                    rellenarEstantes(datos.message.EJERCICIOS);
                }
            });
        }
        function rellenarEstantes(productos) {
            contador_tienda_distrito = 1;
            contador_tienda_individual = 1;
            contador_proceso = 1;
            contador_terminado = 1;
            $('#modal-avisos2').click();
            mostrarCarga('Rellenando escaparate');
            $.each(productos, function (k, v) {
                switch (v.ESTADO) {
                    case 'no_solicitado':
                        contenido = '<span class="btn-tienda" id="image-tienda-' + v.ID + '" onclick="mostrarTienda(' + v.ID + ');">';
                        contenido += '  <center><img src="{{ asset('images/iconos/Comida/') }}' + v.ICONO + '" /></center>';
                        contenido += '</span>';
                        if (!v.ES_DISTRITO) {
                            $("#tienda-individual-" + contador_tienda_individual).html(contenido);
                            contador_tienda_individual++;
                        }
                        if (v.ES_DISTRITO) {
                            $("#tienda-distrito-" + contador_tienda_distrito).html(contenido);
                            contador_tienda_distrito++;
                        }
                        break;
                    case 'solicitado':
                        contenido = '<span class="btn-solicitado" id="image-solicitado-' + v.ID + '" onclick="mostrarProceso(' + v.ID + ');">';
                        contenido += '  <center><img src="{{ asset('images/iconos/Comida/') }}' + v.ICONO + '" /></center>';
                        contenido += '</span>';
                        if (!v.ES_DISTRITO) {
                            $('#proceso-individual').html(contenido);
                        }
                        if (v.ES_DISTRITO) {
                            $('#proceso-distrito').html(contenido);
                        }
                        break;
                    case 'entregado':
                    case 'evaluado':
                        contenido = '<span class="btn-terminado" id="image-terminado-' + v.ID + '" onclick="mostrarTerminado(' + v.ID + ');">';
                        contenido += '  <center><img src="{{ asset('images/iconos/Comida/') }}' + v.ICONO + '" /></center>';
                        contenido += '</span>';
                        $("#terminado-" + contador_terminado).html(contenido);
                        contador_terminado++;
                        break;
                }
            });
            cerrarModal();
        }

        function mostrarTienda(id) {
            $(".btn-tienda").addClass("opacidad");
            $("#tab1 .slot").css('background-color', 'gray');
            $("#image-tienda-" + id).removeClass("opacidad");
            $("#image-tienda-" + id).parent().css('background-color', 'white');
            $('#modal-avisos2').click();
            mostrarCarga('Obteniendo información del reto');
            var ruta = '/ciudadano/alimentacion/comida/obtenerDetalle/' + id;
            $.get(ruta, function (datos, status) {
                data = jQuery.parseJSON(datos);
                if (data.estado === 'OK') {
                    contenido = '';
                    contenido += '<div class="row">';
                    contenido += '  <div class="col-md-12 detalle-fecha">';
                    contenido += '      <span class="fa fa-calendar"></span>';
                    contenido += '          ' + data.message.FECHA.date;
                    contenido += '  </div>';
                    contenido += '  <div class="col-md-12 detalle-enunciado" style="min-height: 0px;">';
                    if (!data.message.ES_DISTRITO) {
                        contenido += '      RETO INDIVIDUAL';
                    }
                    if (data.message.ES_DISTRITO) {
                        contenido += '      RETO DE DISTRITO';
                        contenido += '<div class="col-md-12" style="display:inline-block;">';
                        var solicitantes = data.message.NUM_SOLICITANTES_DISTRITO;
                        var rest_soli = data.message.NUM_CIUDADANOS_DISTRITO - data.message.NUM_SOLICITANTES_DISTRITO;
                        for (var i = 0; i < solicitantes; i++) {
                            contenido += '<span class="fa fa-user" style="color: #5cb85c;"></span>';
                        }
                        for (var i = 0; i < rest_soli; i++) {
                            contenido += '<span class="fa fa-user" style="color: #f0ad4e;"></span>';
                        }
                        contenido += '</div>';
                    }
                    contenido += '</div>';
                    contenido += '<div class="row">';
                    contenido += '  <div class="col-md-12 detalle-enunciado">';
                    contenido += '      ' + data.message.ENUNCIADO;
                    contenido += '  </div>';
                    contenido += '</div>';
                    contenido += '<div class="row">';
                    contenido += '  <div class="col-md-12 detalle-coste">';
                    contenido += '      <span class="fa fa-money"> </span>&nbsp;';
                    if (data.message.COSTE.dias !== 0) {
                        contenido += '<span style="color:red;">' + data.message.COSTE.dias + '</span>d&nbsp;';
                    }
                    if (data.message.COSTE.horas !== 0) {
                        contenido += '<span style="color:red;">' + data.message.COSTE.horas + '</span>h&nbsp;';
                    }
                    if (data.message.COSTE.minutos !== 0) {
                        contenido += '<span style="color:red;">' + data.message.COSTE.minutos + '</span>m&nbsp;';
                    }
                    if (data.message.COSTE.segundos !== 0) {
                        contenido += '<span style="color:red;">' + data.message.COSTE.segundos + '</span>s&nbsp;';
                    }
                    if (!data.message.COSTE.segundos &&
                            !data.message.COSTE.minutos &&
                            !data.message.COSTE.horas &&
                            !data.message.COSTE.dias) {
                        contenido += '<span style="color:green;">gratis</span>&nbsp;';
                    }
                    contenido += '  </div>';
                    contenido += '</div>';
                    contenido += '<div class="row">';
                    contenido += '  <div class="col-md-12">';
                    if (!data.message.ES_DISTRITO && ya_solicitado_individual) {
                        contenido += '      <p class="detalle-enunciado" style="text-align:center; color: red; min-height: 0px;">Ya tienes un reto individual en curso. Para solicitar otro debes entregar primero el anterior.</p>';

                    } else if (data.message.ES_DISTRITO && ya_solicitado_distrito) {
                        contenido += '      <p class="detalle-enunciado" style="text-align:center; color: red; min-height: 0px;">Ya hay un reto de distrito pendiente de entrega. Al menos un ciudadano de su distrito debe entregar para poder solicitar otro.</p>';
                    } else {
                        contenido += '      <button class="btn btn.primary detalle-boton" onclick="solicitar(' + data.message.ID + ');">';
                        contenido += '          SOLICITAR';
                        contenido += '      </button>';
                    }
                    contenido += '  </div>';
                    contenido += '</div>';
                    $('#detalle-tienda').html(contenido);
                    cerrarModal();
                } else {
                    mostrarResultadoOperacion(data.message);
                }
            });
        }
        function mostrarProceso(id) {
            $(".btn-solicitado").addClass("opacidad");
            $("#image-solicitado-" + id).removeClass("opacidad");
            $("#tab2 .slot").css('background-color', 'gray');
            $("#image-solicitado-" + id).parent().css('background-color', 'white');
            $('#modal-avisos2').click();
            mostrarCarga('Obteniendo información del reto');
            var ruta = '/ciudadano/alimentacion/comida/obtenerDetalle/' + id;
            $.get(ruta, function (datos, status) {
                data = jQuery.parseJSON(datos);
                if (data.estado === 'OK') {
                    contenido = '';
                    contenido += '<div class="row">';
                    contenido += '  <div class="col-md-12 detalle-fecha">';
                    contenido += '      <span class="fa fa-calendar"></span>';
                    contenido += '          ' + data.message.FECHA.date;
                    contenido += '  </div>';
                    contenido += '  <div class="col-md-12 detalle-enunciado" style="min-height: 0px;">';
                    if (!data.message.ES_DISTRITO) {
                        contenido += '      RETO INDIVIDUAL';
                    }
                    if (data.message.ES_DISTRITO) {
                        contenido += '      RETO DE DISTRITO';
                        contenido += '<div class="col-md-12" style="display:inline-block;">';
                        var solicitantes = data.message.NUM_SOLICITANTES_DISTRITO;
                        var rest_soli = data.message.NUM_CIUDADANOS_DISTRITO - data.message.NUM_SOLICITANTES_DISTRITO;
                        for (var i = 0; i < solicitantes; i++) {
                            contenido += '<span class="fa fa-user" style="color: #5cb85c;"></span>';
                        }
                        for (var i = 0; i < rest_soli; i++) {
                            contenido += '<span class="fa fa-user" style="color: #f0ad4e;"></span>';
                        }
                        contenido += '</div>';
                    }
                    contenido += '  </div>';
                    contenido += '</div>';
                    contenido += '<div class="row">';
                    contenido += '  <div class="col-md-12 detalle-enunciado">';
                    contenido += '      ' + data.message.ENUNCIADO;
                    contenido += '  </div>';
                    contenido += '</div>';
                    if (!rest_soli) {
                        contenido += '  <div class="row">';
                        contenido += '      <div class="col-md-12">';
                        if (!data.message.ES_DISTRITO) {
                            contenido += '          <button class="btn detalle-boton" href="#tab4" data-toggle="tab" onclick="setId(' + id + ')">';
                        } else {
                            contenido += '          <button class="btn detalle-boton" href="#tab5" data-toggle="tab" onclick="setId(' + id + ')">';
                        }
                        contenido += '              ENTREGAR';
                        contenido += '          </button>';
                        contenido += '      </div>';
                        contenido += '  </div>';
                    } else {
                        contenido += '  <div class="row">';
                        contenido += '  <div class="col-md-12 detalle-enunciado" style="color: #286090; min-height: 0px;">';
                        contenido += '  <p>Este reto debe ser solicitado por todos los miembros de tu distrito para poder realizar la entrega.</p>';
                        contenido += '  <p>Quedan ' + rest_soli + ' por solicitar</p>';
                        contenido += '  </div>';
                        contenido += '      <div class="col-md-12">';
                        contenido += '          <button class="btn btn-primary detalle-boton" onclick="retirarSolicitud(' + id + ')">';
                        contenido += '              RETIRAR SOLICITUD';
                        contenido += '          </button>';
                        contenido += '      </div>';
                        contenido += '  </div>';
                    }
                    $('#detalle-proceso').html(contenido);
                    $("#carga").hide();
                    cerrarModal();
                } else {
                    mostrarResultadoOperacion(data.message);
                }
            });
        }
        function mostrarTerminado(id) {
            $(".btn-terminado").addClass("opacidad");
            $("#image-terminado-" + id).removeClass("opacidad");
            $("#tab3 .slot").css('background-color', 'gray');
            $("#image-terminado-" + id).parent().css('background-color', 'white');
            $('#modal-avisos2').click();
            mostrarCarga('Obteniendo información del reto');
            var ruta = '/ciudadano/alimentacion/comida/obtenerDetalle/' + id;
            $.get(ruta, function (datos, status) {
                data = jQuery.parseJSON(datos);
                if (data.estado === 'OK') {
                    contenido = '';
                    contenido += '<div class="row">';
                    contenido += '  <div class="col-md-12 detalle-fecha">';
                    contenido += '      <span class="fa fa-calendar"></span>';
                    contenido += '          ' + data.message.FECHA.date;
                    contenido += '  </div>';
                    contenido += '  <div class="col-md-12 detalle-enunciado" style="min-height: 0px;">';
                    if (!data.message.ES_DISTRITO) {
                        contenido += '      RETO INDIVIDUAL';
                    }
                    if (data.message.ES_DISTRITO) {
                        contenido += '      RETO DE DISTRITO';
                        contenido += '<div class="col-md-12" style="display:inline-block;">';
                        var solicitantes = data.message.NUM_SOLICITANTES_DISTRITO;
                        var rest_soli = data.message.NUM_CIUDADANOS_DISTRITO - data.message.NUM_SOLICITANTES_DISTRITO;
                        for (var i = 0; i < solicitantes; i++) {
                            contenido += '<span class="fa fa-user" style="color: #5cb85c;"></span>';
                        }
                        for (var i = 0; i < rest_soli; i++) {
                            contenido += '<span class="fa fa-user" style="color: #f0ad4e;"></span>';
                        }
                        contenido += '</div>';
                    }
                    contenido += '  </div>';
                    contenido += '</div>';
                    contenido += '<div class="row">';
                    contenido += '  <div class="col-md-12 detalle-enunciado">';
                    contenido += '      ' + data.message.ENUNCIADO;
                    contenido += '  </div>';
                    contenido += '</div>';
                    contenido += '<div class="row">';
                    contenido += '  <div class="col-md-12 detalle-coste">';
                    contenido += '      <span class="fa fa-money"> </span>&nbsp;';
                    if (data.message.COSTE.dias !== 0) {
                        contenido += '<span style="color:red;">' + data.message.COSTE.dias + '</span>d&nbsp;';
                    }
                    if (data.message.COSTE.horas !== 0) {
                        contenido += '<span style="color:red;">' + data.message.COSTE.horas + '</span>h&nbsp;';
                    }
                    if (data.message.COSTE.minutos !== 0) {
                        contenido += '<span style="color:red;">' + data.message.COSTE.minutos + '</span>m&nbsp;';
                    }
                    if (data.message.COSTE.segundos !== 0) {
                        contenido += '<span style="color:red;">' + data.message.COSTE.segundos + '</span>s&nbsp;';
                    }
                    if (!data.message.COSTE.segundos &&
                            !data.message.COSTE.minutos &&
                            !data.message.COSTE.horas &&
                            !data.message.COSTE.dias) {
                        contenido += '<span style="color:green;">gratis</span>&nbsp;';
                    }
                    contenido += '  </div>';
                    contenido += '</div>';
                    contenido += '<div class="row">';
                    contenido += '  <div class="col-md-12">';
                    if (!ya_solicitado_individual) {
                        if (data.message.ESTADO !== 'entregado') {
                            contenido += '      <button class="btn btn-primary detalle-boton" onclick="solicitar(' + data.message.ID + ');">';
                            contenido += '          VOLVER A SOLICITAR';
                        }
                        contenido += '      </button>';
                    } else {
                        contenido += '      <button class="btn btn-primary detalle-boton disabled" title="YA HAY UN RETO SOLICITADO">';
                        contenido += '          VOLVER A SOLICITAR';
                        contenido += '      </button>';
                    }
                    contenido += '  </div>';
                    contenido += '</div>';
                    $('#detalle-terminado').html(contenido);
                    cerrarModal();
                } else {
                    mostrarResultadoOperacion(data.message);
                }
            });
        }
        function retirarSolicitud(id) {
            var ruta = '/ciudadano/alimentacion/comida/retirarSolicitud/' + id;
            $('#modal-avisos2').click();
            mostrarCarga('Retirando solicitud');
            $.get(ruta, function (data, status) {
                var respuesta = jQuery.parseJSON(data);
                mostrarResultadoOperacion(respuesta.message);
            });
        }
        function mostrarCarga(texto) {
            $("#mensaje-texto").empty();
            contenido = '';
            contenido += '<div class="row" style="margin-top:2%;">';
            contenido += '  <center>';
            contenido += '      <i class="fa fa-spinner fa-spin"></i>' + texto;
            contenido += '  </center>';
            contenido += '</div>';
            $("#mensaje-texto").append(contenido);
        }
        function mostrarResultadoOperacion(resultado) {
            $("#mensaje-texto").empty();
            contenido = '';
            contenido += '<div class="row" style="margin-top:2%;">';
            contenido += '      ' + resultado;
            contenido += '</div>';
            contenido += '<div class="row" style="margin-top:2%;">';
            contenido += '  <div class="col-xs-3 col-xs-offset-4">';
            contenido += '      <button class="btn btn-primary btn-block" onclick="location.reload();"> ACEPTAR </button>';
            contenido += '  </div>';
            contenido += '</div>';
            $("#mensaje-texto").append(contenido);
        }
        function cerrarModal() {
            $('#modal-advice2').modal('toggle');
        }
    </script>
{% endblock %}