@font-face {
    font-family: "Kimberley";
    src: url("../font/digital-7.ttf");
}
@font-face {
    font-family: "Isocpeur";
    src: url("../font/ISOCPEUR.ttf");
}
@font-face {
    font-family: "Isocteur";
    src: url("../font/ISOCTEUR.ttf");
}
.input-group-btn:first-child>.btn, 
.input-group-btn:first-child>.btn-group {
    border-right-width: 0px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.btn{
    border-radius: 15px;
    -webkit-border-radius: 15px;
}
.border-radius,
.btn-menu-first,
.btn-menu,
.btn-menu-last{
    border-style: solid;
    border-color: #000000;
}
.btn-menu,
.btn-menu-first{
    border-width: 2px;
    border-right: 0px;
}
.btn-menu-last{
    border-width: 2px;
    border-right: 2px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.btn-menu-first{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.border-radius{
    background-color: #FFFFFF;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    padding: 20px;
}
.btn13{
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-right: 2px;
}
.btn4{
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
}
.button-tweet-folders-comp{
    cursor: pointer;
}
.button-tweet-folders,
.button-tweet-panel{
    display:inline-block;
    cursor: pointer;
}
.bordes{
    background-color: #FFFFFF;
    padding: 20px;
    border-style: solid;
    border-color: #000000;
    color: #000000;
}
.ventana-tweets{
    background-color: rgba(255,255,255,0.2); 
    color: black; 
    overflow-y: auto;
}

.panel-default, .panel{
    border: none;
    background-color: transparent;
    color: #FEFEFE;
    -webkit-box-shadow: none;
    box-shadow: none;
}
footer{
    color:#B3B3B3; 
    font-weight: bold; 
    margin-top: 1%; 
    margin-bottom:1%;
    font-family: 'Isocpeur';
}

body{
    font-family: "Isocpeur";
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    background-color: #F7F7F7;
    /*    background: url(../fondo.png) center fixed no-repeat;
        background-size: 8% 33vh;*/
}

.input-group-btn > .btn {
    font-weight: bold;
    border-color: rgb(00, 00, 00);
    border-style: solid;
    border-width: 2px;
    border-bottom-color: rgb(00, 00, 00);
    border-radius: 0px;
    border-top-left-radius: 0px;
    /* border-top-right-radius: 0px; */
    /* border-bottom-right-radius: 0px; */
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition-property: border-color, box-shadow;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: initial, initial;
}

.tweet{
    display:inline-block; 
    position:relative;
}

.button_tweet{
    display: block;
    background-color: rgba(125,125,125,0.1);
    position:absolute; 
    bottom:10px; right:30px;
    height: 100%;
    width: 100%;
}

.tweet:hover + .button_tweet{
    display:block;
}

select, select[size="1"]{
    font-size: 16px;
    font-weight: bold;
    line-height: inherit;
    background-color: rgb(255, 255, 255);
    color:black;
    border: 2px solid;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
}

.flecha-select {position:relative}
.flecha-select:after {
    content:'<>';
    font:60px "Isocpeur";
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:-30px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}
.flecha-select:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    position:absolute;
    pointer-events:none;
    display:block;
}

table{
    font-size: 14px;
}

.slot-mochila{
    border: 1px solid black;
}

.oculto{
    display: none;
}

.share_modal_dialog{
    /*    left:30%; top: 40%; 
        width:80%;*/
}

.share_modal_dialog > .modal-content{
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    /*background-color: rgba(22,75,117,0.7);*/
}

.share_modal_dialog .checkbox{
    /*    -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        font-size: 150%;*/
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.share_modal_dialog .modal-footer button{
    font-size: 110%;
    background-color: transparent;
}

.close span{
    color:white;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/*.share_modal_dialog:after {
    content: "\f087";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 400px;
    color: lightblue;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -200px;
    z-index: 1;
}*/
.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /*background-color: white;*/
    /*    color: black;*/
}

/*Alineamiento de iconos dentro de imputs*/
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 5px 6px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.input-group-addon {
    line-height: 1;
    color: #000000;
    text-align: center;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 15px;
}

/*FIN Alineamiento de iconos dentro de imputs*/

.form-control{
    /*font-family: 'Isocpeur';*/
    color: black;
    font-weight: bold;
    border: 2px solid #000000;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.breadcrumb{
    font-weight: bold;
    background-color: inherit;
}
.breadcrumb > li + li:before {
    content: none;
    padding: 0 0;
}
.breadcrumb > .active{
    color: black;
}
.nav-tabs a,
.breadcrumb a{
    color: #8F8F8F;
}
.nav-tabs {
    border-bottom: 2px solid #000000;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
    border: 2px solid #000000;
    border-bottom-color: transparent;
}

legend{
    font-weight: bold;
    font-size: 17px;
    /*color: #8F8F8F;*/
    color: #000000;
    border-bottom: 2px solid #000000;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid rgba(31, 31, 31, 0.81);
}
.badge {
    display: inline-block;
    min-width: 20px;
    padding: 14px 22px;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: transparent;
    border-radius: 15px;
}
.modal-advice-body img {
    width: 100%;
    height: auto;
}

.radio-inline input[type=radio] {
    margin-top: 10px;
}

.radio-inline{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.contenedor-badge{
    position: relative;
}
.badge-alimentacion,
.badge-aviso{
    position: absolute;
    background-color: #E0B831;
    font-size: 14px;
    font-weight: 600;
}
.badge-aviso{
    top: 0px;
    left: 0px;
}

.resultados-titulo{
    text-transform: uppercase;
    font-size: 35px; 
    font-weight: 600;
}
.resultados-icono img{
    height: 60px;
}

.intime-fileinput{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.intime-fileinput + label {
    font-size: 0.90em;
    font-weight: 700;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px;
    background-color: buttonface;
}

.intime-fileinput:focus + label,
.intime-fileinput + label:hover {
    cursor: pointer;
}
.intime-fileinput + label,
.intime-fileinput:focus + label,
.intime-fileinput + label:hover {
    border: none;
}

/* ARBOL DE DIRECTORIOS */
.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
/* FIN DE ARBOL DE DIRECTORIOS */

/* POST-IT */
.post-it {
    background:#fefabc; 
    padding:15px; 
    font-family: 'Gloria Hallelujah', cursive; 
    font-size:15px; 
    color: #000; 
    /*width:200px;*/ 

    -moz-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);

    box-shadow: 0px 4px 6px #333;
    -moz-box-shadow: 0px 4px 6px #333;
    -webkit-box-shadow: 0px 4px 6px #333;

}
/* FIN DE POST-IT */

.usuario-item{
    width: 100%;
    font-size: 13px; 
    font-weight: bold; 
    text-transform: uppercase;
}

.usuario-item:hover{
    cursor: pointer;
    background: #1c1c1c;
    color: white;
}

.desplegable{
    background-color: rgba(255,255,255,0.2); 
    color: #1C1C1C; 
    overflow-y: scroll; 
    margin-top: 0px; 
    max-height: 280px;
    line-height: 1;
}

.desplegable-titulo{
    margin-bottom: 0px; 
    background-color: white; 
    border-top-left-radius: 6px; 
    border-top-right-radius: 6px;
    font-weight: bold; 
    font-size: 15px;
}

.dataTables_wrapper {
    font-size: 12px;
}

.svg-icon {
    margin: 0 auto;
    text-align: center;
    height: 20px;
    width: 20px;
}
.svg-icon svg {
    height: inherit;
    width: inherit;
}
svg:not(:root) {
    overflow: hidden;
}

.container{
    /*    position: relative;
        top: 10vh;*/
}
.menu img{
    height: 130px;
    width: auto;
}
.menu-principal img{
    height: 100px;
}
#posicion-reloj{
    margin-top: 0vh;
    margin-left: 38vw;
}
#menu-jugador{
    margin-top: 1%;
    margin-left: 44vw;
}
#menu-clasificaciones{
    margin-left:30vw;
}
#fel-tra{
    margin-top: -50%;
    margin-left:30vw;
    width: 34vw;
    display: inline-block;
}
#oci-asi{
    margin-left:23vw;
    width: 47vw;
}
#ali-pre{
    margin-left:30vw;
    width: 34vw;
}
#log-sal{
    margin-left:42vw;
}
#fel-tra div,
#oci-asi div,
#ali-pre div,
#log-sal div{
    display: inline-block;
}
#menu-logo img{
    height: 80px;
}
#menu-salir img{
    margin-top: 50%;
    height: 120px;
}
#fondo-principal{
    position: absolute;
    top: 42vh;
    left:45vw;
    z-index: -100;
}

#fondo-principal img{
    height: 190px;
}
.modal-content{
    padding: 15px;
    border-radius: 15px;
}
#modal-advice0 .modal-body,
#modal-advice0 .modal-header,
#modal-advice1 .modal-body,
#modal-advice2 .modal-body,
#modal-advice2 .modal-header{
    font-family: "Isocpeur";
    background-color: #FFFFFF;
    color: black;
}
#modal-advice0 .modal-header,
#modal-advice2 .modal-header{
    font-family: "Isocteur";
}
#modal-advice0 .modal-body,
#modal-advice1 .modal-body,
#modal-advice2 .modal-body{
    /*    font-family: 'Oregano', cursive;*/
    font-family: 'Isocpeur';
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}
#modal-advice0 .modal-header,
#modal-advice2 .modal-header {
    border-bottom: 2px solid #000000;
}
#modal-advice0 .modal-content,
#modal-advice1 .modal-content,
#modal-advice2 .modal-content{
    border: 2px solid #000000;
}
#modal-advice0 .modal-body button,
#modal-advice1 .modal-body button,
#modal-advice2 .modal-body button{
    font-size: 20px;
    border: 2px solid #000000;
}

.titulo-xs,
.hidden-xs{
    font-family: 'Isocpeur';
    font-size: 35px;
}

.header-muerte,
.header-vacaciones{
    font-family: 'Kimberley';
    text-align: center;
    font-size: 110px;
}

.fa{
    font-size: 55px;
}

legend{
    font-size: 35px;
}

.justified .centrado{
    display: table-cell;
    float: none;
    width: 1%;
}

/** MEDIA **/
@media (max-width: 760px){
    #posicion-reloj{
        margin-left: 3%;
    }
    .menu img{
        height: 195px;
        width: auto;
    }
    .menu-principal img{
        height: 155px;
    }
    #menu-jugador{
        margin-left: 37vw;
    }
    #fel-tra{
        margin-top: -50%;
        margin-left:10vw;
        width: 70vw;
    }
    #oci-asi{
        margin-left:0vw;
        width: 90vw;
    }
    #ali-pre{
        margin-left:15vw;
        width: 65vw;
    }
    #log-sal{
        margin-left:25vw;
    }
    #fondo-principal{
        top: 27vh;
        left:45vw;
    }

    #menu-logo img{
        height: 145px;
    }
    #fondo-principal{
        top: 70vh;
        left:43vw;
    }
    #fondo-principal img{
        height: 180px;
    }
    .modal-advice .modal-dialog{
        width: 85%;
        left: 40%;
        top: 40%;
    }
    .modal_tweet .modal-dialog{
        width: 80%;
        left: 40%;
        top: 20%;
    }
    .texto-tweet p{
        line-height: normal; 
    }
    .modal_tweet #modal_tweet_perfil img{
        width: 146px;
        height: 146px;
    }
    .ventana-tweets{
        height: 1000px;
    }
    .contenedor-badge .badge{
        padding: 9px 12px;
    }
    .form-control {
        display: block;
        width: 100%;
        height: 45px;
        padding: 9px 15px;
    }
    .file-caption-name,
    .file-input .input-group-btn button,
    .file-input .input-group-btn a{
        min-height: 55px;
        /*padding: 9px 15px;*/
    }
    .fileinput-upload i,
    .fileinput-remove-button i{
        font-size: 20px;
    }
    .fileinput-upload,
    .fileinput-remove-button{
        padding: 2px 15px;
    }
    select {
        width: 100%;
        height: 55px;
        padding: 9px 15px; 
    }
    .container{
        width: 95%;
    }

    .badge-aviso{
        font-size: 20px;
    }
    .breadcrumb{
        font-size: 30px;
    }
    .modal_tweet #modal_tweet_descripcion{
        font-size: 26px;
    }
    .form-control,
    .file-input .input-group-btn button,
    .file-input .input-group-btn a,
    .file-drop-zone-title,
    select,
    .btn,
    .login-form h4{
        font-size: 20px;
    }
    .fileinput-upload i,
    .fileinput-remove-button i{
        font-size: 20px;
    }
    .fileinput-upload,
    .fileinput-remove-button{
        padding: 2px 15px;
    }
    .texto-tweet p{
        font-size: 45px;
    }
    .item-carousel{
        font-size: 95px;
    }
    .input-group-addon i,
    input-group-addon span,
    .input-group-btn span{
        font-size: 30px;
    }
    table{
        font-size: 20px;
    }
    footer{
        font-size: 20px;
    }
    #modal-advice0 .modal-body,
    #modal-advice1 .modal-body,
    #modal-advice2 .modal-body{
        font-size: 45px;
    }
}
@media (min-width: 760px){
    body{

        /*        background: url(../fondo308x512.png);
                background-size: auto 20vh;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;*/
    }
    #posicion-reloj{
        margin-left: 3%;
    }
    .menu img{
        height: 300px;
        width: auto;
    }
    .menu-principal img{
        height: 195px;
    }
    #fel-tra{
        /*margin-top: -50%;*/
        margin-top: 15%;
        margin-left:17vw;
        width: 60vw;
    }
    #oci-asi{
        margin-left:0vw;
        width: 100vw;
    }
    #menu-jugador{
        /*        margin-left: 37vw;*/
        margin-left: 7vw;
    }
    #ali-pre{
        margin-left:15vw;
        width: 65vw;
    }
    #log-sal{
        margin-top: 15%;
        margin-left:25vw;
    }
    #fondo-principal{
        top: 27vh;
        left:45vw;
    }

    #menu-logo img{
        height: 220px;
    }
    #fondo-principal{
        top: 42vh;
        left:48vw;
    }
    #fondo-principal img{
        height: 115px;
    }
    .modal-advice .modal-dialog{
        width: 85%;
        left: 40%;
        top: 40%;
    }
    .modal_tweet .modal-dialog{
        width: 80%;
        left: 40%;
        top: 20%;
    }
    .texto-tweet p{
        line-height: normal; 
    }
    .modal_tweet #modal_tweet_perfil img{
        width: 146px;
        height: 146px;
    }
    .ventana-tweets{
        height: 1000px;
    }
    .badge-alimentacion,
    .badge-aviso{
        font-size: 40px;
    }
    .contenedor-badge .badge{
        padding: 9px 12px;
    }
    .fileinput-upload i,
    .fileinput-remove-button i{
        font-size: 20px;
    }
    .fileinput-upload,
    .fileinput-remove-button{
        padding: 2px 15px;
    }
    select {
        width: 100%;
        height: 85px;
        padding: 9px 15px; 
    }
    .container{
        width: 95%;
    }
    .breadcrumb{
        font-size: 30px;
    }
    .modal_tweet #modal_tweet_descripcion{
        font-size: 26px;
    }
    .form-control,
    .file-input .input-group-btn button,
    .file-input .input-group-btn a,
    .file-drop-zone-title,
    select,
    .btn,
    .login-form h4{
        font-size: 45px;
    }
    .form-control {
        display: block;
        width: 100%;
        height: 85px;
        padding: 9px 15px;
    }
    .input-group-addon,
    .input-group-btn span{
        font-size: 40px;
    }
    .fileinput-upload i,
    .fileinput-remove-button i{
        font-size: 20px;
    }
    .fileinput-upload,
    .fileinput-remove-button{
        padding: 2px 15px;
    }
    .texto-tweet p{
        font-size: 45px;
    }
    .item-carousel{
        font-size: 95px;
    }
    table{
        font-size: 30px;
    }
    footer{
        font-size: 35px;
    }
    #modal-advice0 .modal-body,
    #modal-advice1 .modal-body,
    #modal-advice2 .modal-body{
        font-size: 45px;
    }
}
@media (min-width: 992px){
    #posicion-reloj{
        margin: 0 15%;
    }
    .menu img{
        height: 170px;
        width: auto;
    }
    .menu-principal img{
        height: 220px;
    }
    #fel-tra{
        /*        
        margin-top: -50%;
        margin-left:10vw;
        width: 70vw;
        */
        margin-top: 3%;
        margin-left:10vw;
        width: 70vw;
    }
    #menu-jugador{
        /*margin-left: 37vw;*/
        margin-left: 7vw;
    }
    #oci-asi{
        margin-left:0vw;
        width: 90vw;
    }
    #ali-pre{
        margin-left:15vw;
        width: 65vw;
    }
    #log-sal{
        margin-top: 0;
        margin-left:25vw;
    }
    #menu-logo img{
        height: 220px;
    }
    #fondo-principal{
        top: 75vh;
        left:43vw;
    }
    #fondo-principal img{
        height: 140px;
    }
    .modal-advice .modal-dialog{
        width: 85%;
        left: 40%;
        top: 40%;
    }
    .modal_tweet .modal-dialog{
        width: 80%;
        left: 40%;
        top: 20%;
    }
    .texto-tweet p{
        line-height: normal; 
    }
    .modal_tweet #modal_tweet_perfil img{
        width: 146px;
        height: 146px;
    }
    .ventana-tweets{
        height: 250px;
    }
    .contenedor-badge .badge{
        padding: 9px 12px;
    }
    .form-control {
        display: block;
        width: 100%;
        height: 85px;
        padding: 9px 15px;
    }
    .form-control,
    .file-input .input-group-btn button,
    .file-input .input-group-btn a,
    .file-drop-zone-title,
    select,
    .btn,
    .login-form h4{
        font-size: 20px;
    }
    .input-group-addon,
    .input-group-btn span{
        font-size: 20px;
    }
    .file-caption-name,
    .file-input .input-group-btn button,
    .file-input .input-group-btn a{
        min-height: 85px;
        /*padding: 9px 15px;*/
    }
    .fileinput-upload i,
    .fileinput-remove-button i{
        font-size: 20px;
    }
    .fileinput-upload,
    .fileinput-remove-button{
        padding: 2px 15px;
    }
    select {
        width: 100%;
        height: 85px;
        padding: 9px 15px; 
    }
    .container{
        width: 95%;
    }

    .badge-aviso{
        font-size: 20px;
    }
    .breadcrumb{
        font-size: 30px;
    }
    .modal_tweet #modal_tweet_descripcion{
        font-size: 26px;
    }
    .fileinput-upload i,
    .fileinput-remove-button i{
        font-size: 20px;
    }
    .fileinput-upload,
    .fileinput-remove-button{
        padding: 2px 15px;
    }
    .texto-tweet p{
        font-size: 45px;
    }
    .item-carousel{
        font-size: 95px;
    }
    table{
        font-size: 30px;
    }
    footer{
        font-size: 35px;
    }
    #modal-advice0 .modal-body,
    #modal-advice1 .modal-body,
    #modal-advice2 .modal-body{
        font-size: 20px;
    }
    .titulo-xs,
    .hidden-xs{
        font-size: 20px;
    }
    .header-muerte,
    .header-vacaciones{
        font-size: 80px;
    }
    .fa{
        font-size: 20px;
    }
    legend{
        font-size: 17px;
    }
}
@media (min-width: 1200px){
    .form-control {
        font-size: 20px;
        display: block;
        width: 100%;
        height: auto;
        padding: 6px 12px;
    }
    .file-caption-name,
    .file-input .input-group-btn button,
    .file-input .input-group-btn a{
        min-height: 34px;
        /*padding: 9px 15px;*/
    }
    .fileinput-upload i,
    .fileinput-remove-button i{
        font-size: 20px;
    }
    .fileinput-upload,
    .fileinput-remove-button{
        padding: 2px 15px;
    }
    .input-group-addon i,
    input-group-addon span,
    .input-group-btn span{
        font-size: 20px;
    }
    .input-group-button > .btn{
        height: 34px;
    }
    .btn{
        font-size: 20px;
    }
    .modal-advice .modal-sm{
        width: 50%;
        left:48%;
        top: 70%;
    }
    .texto-tweet{
        font-size: 16px;
    }
    .badge-aviso{
        font-size: 14px;
        font-weight: 600;
    }
    .badge-aviso{
        left: 10%;
    }
    .contenedor-badge .badge{
        padding: 9px 12px;
    }
    select{
        height: 44px;
        padding: 6px 12px;
        font-size: 20px;
        line-height: 1.42857143;
    }
    .modal_tweet #modal_tweet_perfil img{
        width: 73px;
        height: 73px;
    }
    .modal_tweet #modal_tweet_descripcion{
        font-size: 13px;
    }
    .ventana-tweets{
        height: 350px;
    }
    .breadcrumb{
        font-size: 17px;
    }
    footer{
        font-size: 18px;
    }
    .button_tweet{
        bottom:10px; right:30px;
    }
    table{
        font-size: 14px;
    }
    .share_modal_dialog .modal-footer button{
        font-size: 110%;
    }
    .jumbotron {
        padding: 30px;
        margin-bottom: 30px;
        font-size: 21px;
        font-weight: 200;
        line-height: 2.1428571435;
    }

    /*Alineamiento de iconos dentro de imputs*/

    .left-inner-addon input {
        padding-left: 30px;    
    }
    .left-inner-addon i {
        padding: 5px 6px;
    }
    .right-inner-addon input {
        padding-right: 30px;    
    }
    .right-inner-addon i {
        right: 0px;
        padding: 10px 12px;
    }
    /*FIN Alineamiento de iconos dentro de imputs*/

    legend{
        font-size: 17px;
    }
    .badge {
        min-width: 20px;
        padding: 14px 22px;
        font-size: 17px;
    }
    .modal-header {
        min-height: 16.428571429px;
    }
    .modal-advice-button{
        bottom: -10%;
        left: 40%;
    }
    .modal-advice-button button{
        height: 40px;
    }
    .radio-inline input[type=radio] {
        margin-top: 10px;
    }
    .radio-inline{
        font-size: 15px;
        font-weight: 600;
    }
    .resultados-titulo{
        font-size: 35px; 
        font-weight: 600;
    }
    .resultados-icono img{
        height: 60px;
    }
    .intime-fileinput{
        width: 0.1px;
        height: 0.1px;
    }
    .intime-fileinput + label {
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 100;
        line-height: 1.42857143;
    }

    /* ARBOL DE DIRECTORIOS */
    .tree {
        min-height:20px;
        padding:19px;
        margin-bottom:20px;
    }
    .tree li {
        padding:10px 5px 0 5px;
    }
    .tree li::after {
        height:20px;
        top:25px;
        width:25px
    }
    .tree li span {
        padding:3px 8px;
    }
    .tree li:last-child::before {
        height:30px
    }
    /* FIN DE ARBOL DE DIRECTORIOS */

    /* POST-IT */
    .post-it {
        padding:15px;
        font-size:15px;
    }
    /* FIN DE POST-IT */

    .usuario-item{
        width: 100%;
        font-size: 13px;
    }
    .desplegable{
        margin-top: 0px; 
        max-height: 280px;
        line-height: 1;
    }
    .desplegable-titulo{
        margin-bottom: 0px;
        font-size: 15px;
    }
    .dataTables_wrapper {
        font-size: 12px;
    }
    .svg-icon {
        height: 20px;
        width: 20px;
    }
    .menu img{
        height: 130px;
    }
    .menu-principal img{
        height: 100px;
    }
    #posicion-reloj{
        margin-top: 0vh;
        margin-left: 38vw;
    }
    #menu-clasificaciones{
        margin-left:30vw;
    }
    #fel-tra{
        /*
        margin-top: -50%;
        width: 34vw;
        */
        margin-top: 2%;
        margin-left:37vw;
        width: 20vw;
    }
    #menu-jugador{
        /*
        margin-top: 1%;
        margin-left: 44vw;
        */
        margin-left: 7vw;
    }
    #oci-asi{
        /*
        margin-left:23vw;
        width: 47vw;
        */
        margin-left:27vw;
        width: 40vw;
    }
    #ali-pre{
        /*        
        margin-left:30vw;
        width: 34vw;
        */
        margin-left:37vw;
        width: 20vw;
    }
    #log-sal{
        margin-left:42vw;
    }
    #menu-logo img{
        height: 80px;
    }
    #menu-salir img{
        margin-top: 25%;
        height: 60px;
    }
    #fondo-principal{
        top: 50vh;
        left:47vw;
    }
    #fondo-principal img{
        height: 95px;
    }
    .header-muerte,
    .header-vacaciones{
        font-size: 40px;
    }
    .fa{
        font-size: 25px;
    }
    .flecha-select:after {
        content:'<>';
        font:35px "Isocpeur";
        color:#aaa;
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        transform:rotate(90deg);
        right:8px; top:-12px;
        padding:0 0 2px;
        position:absolute;
        pointer-events:none;
    }
    .flecha-select:before {
        content:'';
        right:6px; top:0px;
        width:20px; height:20px;
        position:absolute;
        pointer-events:none;
        display:block;
    }
}