
.ventana-tweets{
    background-color: rgba(255,255,255,0.2); 
    color: black; 
    overflow-y: auto;
}

.panel-default, .panel{
    border: none;
    background-color: transparent;
    color: #FEFEFE;
    -webkit-box-shadow: none;
    box-shadow: none;
}
footer{
    color:#B3B3B3; 
    font-weight: bold; 
    margin-top: 1%; 
    margin-bottom:1%;
    font-size: 18px;
    font-family: 'Oregano', cursive;
}

body{
    background-color: #F7F7F7;
    /*    background: url(../fondo.png) center fixed no-repeat;
        background-size: auto 100vh;*/
}

.input-group-btn > .btn {
    font-weight: bold;
    /* border: 1px solid #164bb1; */
    border-top-color: rgb(22, 75, 177);
    /* border-top-style: solid; */
    /* border-top-width: 1px; */
    border-right-color: rgb(22, 75, 177);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(22, 75, 177);
    /* border-bottom-style: solid; */
    /* border-bottom-width: 1px; */
    border-left-color: rgb(22, 75, 177);
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 0px;
    border-top-left-radius: 0px;
    /* border-top-right-radius: 0px; */
    /* border-bottom-right-radius: 0px; */
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition-property: border-color, box-shadow;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: initial, initial;
}

.tweet{
    display:inline-block; 
    position:relative;
}

.button_tweet{
    display: block;
    background-color: rgba(125,125,125,0.1);
    position:absolute; 
    bottom:10px; right:30px;
    height: 100%;
    width: 100%;
}

.tweet:hover + .button_tweet{
    display:block;
}

select, select[size="1"]{
    font-size: 16px;
    font-weight: bold;
    line-height: inherit;
    background-color: rgb(255, 255, 255);
    color:black;
    border: 0px solid;
}

table{
    font-size: 14px;
}

.slot-mochila{
    border: 1px solid black;
}

.oculto{
    display: none;
}

.share_modal_dialog{
    /*    left:30%; top: 40%; 
        width:80%;*/
}

.share_modal_dialog > .modal-content{
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    /*background-color: rgba(22,75,117,0.7);*/
}

.share_modal_dialog .checkbox{
    /*    -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        font-size: 150%;*/
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.share_modal_dialog .modal-footer button{
    font-size: 110%;
    background-color: transparent;
}

.close span{
    color:white;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/*.share_modal_dialog:after {
    content: "\f087";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 400px;
    color: lightblue;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -200px;
    z-index: 1;
}*/
.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /*background-color: white;*/
    /*    color: black;*/
}

/*Alineamiento de iconos dentro de imputs*/
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 5px 6px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.input-group-addon {
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*FIN Alineamiento de iconos dentro de imputs*/

.form-control{
    color: black;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.breadcrumb{
    font-weight: bold;
    background-color: inherit;
}
.breadcrumb > li + li:before {
    content: none;
    padding: 0 0;
}
.breadcrumb > .active{
    color: white;
}
legend{
    font-weight: bold; 
    color:white;
    font-size: 17px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid rgba(31, 31, 31, 0.81);
}
.badge {
    display: inline-block;
    min-width: 20px;
    padding: 14px 22px;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
}

.modal-header {
    min-height: 16.428571429px;
    /*padding: 10px 15px 0px 15px;;*/ 
}

.modal-content{
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-advice-body img {
    width: 100%;
    height: auto;
}

.modal-advice .modal-content {
    /*background-color: rgb(255, 255, 255);*/
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    position: relative;
}

.modal-advice .modal-header{
    background-color: rgba(0, 0, 0, 0.2);
    color:white;
}
.modal-advice .modal-body{
    background-color: rgba(0, 0, 0, 0.2);
    color:white;
}

.modal-advice-button{
    position: absolute;
    bottom: -10%;
    left: 40%;
}

.modal-advice-button button{
    height: 40px;
    border-left: 3px solid #E0B831;
    border-right: 3px solid #E0B831;
    border-top: 2px solid #FFFFFF;
}

.modal-advice .modal-title,
.modal-advice-body{
    /*font-size: 12px;*/
    /*font-weight: 700;*/
    /*text-transform: uppercase;*/

}
.radio-inline input[type=radio] {
    margin-top: 10px;
}

.radio-inline{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.contenedor-badge{
    position: relative;
}

.badge-aviso{
    position: absolute;
    background-color: #E0B831;
    font-size: 14px;
    font-weight: 600;
}

.tarjeta-ejercicio{
    font-weight: 600;
    color: white;
    padding: 10px 25px;
    background-color: rgba(0, 0, 0, 0.2);
}
.tarjeta-ejercicio .tarjeta-ejercicio-fecha,
.tarjeta-ejercicio .tarjeta-ejercicio-enunciado,
.tarjeta-ejercicio .tarjeta-ejercicio-tipo{
    border-style: solid;
    border-color: white;
}
.tarjeta-ejercicio .tarjeta-ejercicio-enunciado{
    /*    border: 2px;*/
}
.tarjeta-ejercicio .tarjeta-ejercicio-tipo{
    height: auto;
    border-bottom: 2px;
    border-right: 2px;
}
.tarjeta-ejercicio .tarjeta-ejercicio-fecha{
    height: auto;
    border-bottom: 2px;
}
.resultados-titulo{
    text-transform: uppercase;
    font-size: 35px; 
    font-weight: 600;
}
.resultados-icono img{
    height: 60px;
}

.intime-fileinput{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.intime-fileinput + label {
    font-size: 0.90em;
    font-weight: 700;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px;
    background-color: buttonface;
}

.intime-fileinput:focus + label,
.intime-fileinput + label:hover {
    cursor: pointer;
}
.intime-fileinput + label,
.intime-fileinput:focus + label,
.intime-fileinput + label:hover {
    border: none;
}

/* ARBOL DE DIRECTORIOS */
.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
/* FIN DE ARBOL DE DIRECTORIOS */

/* POST-IT */
.post-it {
    background:#fefabc; 
    padding:15px; 
    font-family: 'Gloria Hallelujah', cursive; 
    font-size:15px; 
    color: #000; 
    /*width:200px;*/ 

    -moz-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);

    box-shadow: 0px 4px 6px #333;
    -moz-box-shadow: 0px 4px 6px #333;
    -webkit-box-shadow: 0px 4px 6px #333;

}
/* FIN DE POST-IT */

.usuario-item{
    width: 100%;
    font-size: 13px; 
    font-weight: bold; 
    text-transform: uppercase;
}

.usuario-item:hover{
    cursor: pointer;
    background: #1c1c1c;
    color: white;
}

.desplegable{
    background-color: rgba(255,255,255,0.2); 
    color: #1C1C1C; 
    overflow-y: scroll; 
    margin-top: 0px; 
    max-height: 280px;
    line-height: 1;
}

.desplegable-titulo{
    margin-bottom: 0px; 
    background-color: white; 
    border-top-left-radius: 6px; 
    border-top-right-radius: 6px;
    font-weight: bold; 
    font-size: 15px;
}

.dataTables_wrapper {
    font-size: 12px;
}

.svg-icon {
    margin: 0 auto;
    text-align: center;
    height: 20px;
    width: 20px;
}
.svg-icon svg {
    height: inherit;
    width: inherit;
}
svg:not(:root) {
    overflow: hidden;
}

.container{
    /*    position: relative;
        top: 10vh;*/
}
.menu img{
    height: 130px;
    width: auto;
}
.menu-principal img{
    height: 100px;
}
#posicion-reloj{
    margin-top: 0vh;
    margin-left: 38vw;
}
#menu-jugador{
    margin-top: 1%;
    margin-left: 44vw;
}
#menu-clasificaciones{
    margin-left:30vw;
}
#fel-tra{
    margin-top: -50%;
    margin-left:30vw;
    width: 34vw;
    display: inline-block;
}
#oci-asi{
    margin-left:23vw;
    width: 47vw;
}
#ali-pre{
    margin-left:30vw;
    width: 34vw;
}
#log-sal{
    margin-left:42vw;
}
#fel-tra div,
#oci-asi div,
#ali-pre div,
#log-sal div{
    display: inline-block;
}
#menu-logo img,
#menu-salir img{
    height: 80px;
}
#fondo-principal{
    position: absolute;
    top: 42vh;
    left:45vw;
    z-index: -100;
}

#fondo-principal img{
    height: 190px;
}

/** MEDIA **/

/**  QVGA  **/
@media only screen and (max-width:639px){
    
}
/**  VGA  **/
@media only screen and (min-width: 640px) and (max-width: 1279px){
    body{
        
        /*        background: url(../fondo308x512.png);
                background-size: auto 20vh;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;*/
    }
    #posicion-reloj{
        margin-left: 25%;
    }
    .menu img{
        height: 140px;
        width: auto;
    }
    .menu-principal img{
        height: 100px;
    }
    #menu-jugador{
        margin-left: 37vw;
    }
    #fel-tra{
        margin-top: -50%;
        margin-left:10vw;
        width: 70vw;
    }
    #oci-asi{
        margin-left:0vw;
        width: 90vw;
    }
    #ali-pre{
        margin-left:15vw;
        width: 65vw;
    }
    #log-sal{
        margin-left:25vw;
    }
    #log-sal img{
        height: 60px;
    }
    #menu-logo img{
        height: 140px;
    }
    #fondo-principal{
        top: 65vh;
        left:40vw;
    }
    #fondo-principal img{
        height: 190px;
    }
    .modal-advice .modal-dialog{
        width: 85%;
        left: 40%;
        top: 40%;
    }
    .modal_tweet .modal-dialog{
        width: 80%;
        left: 40%;
        top: 20%;
    }
    .texto-tweet p{
        line-height: normal; 
    }
    .modal_tweet #modal_tweet_perfil img{
        width: 146px;
        height: 146px;
    }
    .ventana-tweets{
        height: 800px;
    }
    .badge-aviso{
        top: 0px;
        left: 0px;
    }
    .contenedor-badge .badge{
        padding: 9px 12px;
    }
    .form-control {
        display: block;
        width: 100%;
        height: 85px;
        padding: 9px 15px;
    }
    .file-input .input-group-btn button,
    .file-input .input-group-btn a{
        height: 85px;
        padding: 9px 15px;
    }
    select {
        width: 100%;
        height: 85px;
        padding: 9px 15px; 
    }
    .container{
        width: 95%;
    }

    .badge-aviso{
        font-size: 14px;
    }
    .breadcrumb{
        font-size: 30px;
    }
    .modal_tweet #modal_tweet_descripcion{
        font-size: 26px;
    }
    .form-control,
    .file-input .input-group-btn button,
    .file-input .input-group-btn a,
    .file-drop-zone-title,
    select,
    .btn,
    .login-form h4{
        font-size: 35px;
    }
    .texto-tweet p{
        font-size: 45px;
    }
    .item-carousel{
        font-size: 95px;
    }
    .input-group-addon i,
    input-group-addon span,
    .input-group-btn span{
        font-size: 50px;
    }
    table{
        font-size: 30px;
    }
    footer{
        font-size: 20px;
    }
}
/**  HD  **/
@media only screen and (min-width: 1280px) and (max-width: 1919px){
    
}
/**  FULL HD  **/
@media only screen and (min-width: 1920px) and (max-width: 3839px){
    body{
        
        /*        background: url(../fondo308x512.png);
                background-size: auto 20vh;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;*/
    }
    #posicion-reloj{
        margin-left: 3%;
    }
    .menu img{
        height: 295px;
        width: auto;
    }
    .menu-principal img{
        height: 195px;
    }
    #menu-jugador{
        margin-left: 37vw;
    }
    #fel-tra{
        margin-top: -50%;
        margin-left:10vw;
        width: 70vw;
    }
    #oci-asi{
        margin-left:0vw;
        width: 90vw;
    }
    #ali-pre{
        margin-left:15vw;
        width: 65vw;
    }
    #log-sal{
        margin-left:25vw;
    }
    #fondo-principal{
        top: 27vh;
        left:45vw;
    }

    #menu-logo img{
        height: 220px;
    }
    #fondo-principal{
        top: 35vh;
        left:43vw;
    }
    #fondo-principal img{
        height: 280px;
    }
    .modal-advice .modal-dialog{
        width: 85%;
        left: 40%;
        top: 40%;
    }
    .modal_tweet .modal-dialog{
        width: 80%;
        left: 40%;
        top: 20%;
    }
    .texto-tweet p{
        line-height: normal; 
    }
    .modal_tweet #modal_tweet_perfil img{
        width: 146px;
        height: 146px;
    }
    .ventana-tweets{
        height: 800px;
    }
    .badge-aviso{
        top: 0px;
        left: 0px;
    }
    .contenedor-badge .badge{
        padding: 9px 12px;
    }
    .form-control {
        display: block;
        width: 100%;
        height: 85px;
        padding: 9px 15px;
    }
    .file-input .input-group-btn button,
    .file-input .input-group-btn a{
        height: 85px;
        padding: 9px 15px;
    }
    select {
        width: 100%;
        height: 85px;
        padding: 9px 15px; 
    }
    .container{
        width: 95%;
    }

    .badge-aviso{
        font-size: 14px;
    }
    .breadcrumb{
        font-size: 30px;
    }
    .modal_tweet #modal_tweet_descripcion{
        font-size: 26px;
    }
    .form-control,
    .file-input .input-group-btn button,
    .file-input .input-group-btn a,
    .file-drop-zone-title,
    select,
    .btn,
    .login-form h4{
        font-size: 35px;
    }
    .texto-tweet p{
        font-size: 45px;
    }
    .item-carousel{
        font-size: 95px;
    }
    .input-group-addon i,
    input-group-addon span,
    .input-group-btn span{
        font-size: 50px;
    }
    table{
        font-size: 30px;
    }
    footer{
        font-size: 35px;
    }
}
/**  4K  **/
@media only screen and (min-width: 3840px) and (max-width: 5119px){
    
}
/**  5K  **/
@media only screen and (min-width: 5120px){
    
}
/*@media only screen and (min-width: 1068px){
    .modal-advice .modal-sm{
        width: 50%;
        left:48%;
        top: 70%;
    }
    .texto-tweet{
        font-size: 16px;
    }
    .badge-aviso{
        top: 0px;
        left: 0px;
        font-size: 14px;
    }
    .contenedor-badge .badge{
        padding: 9px 12px;
    }
    select{
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
    }
    .modal_tweet #modal_tweet_perfil img{
        width: 73px;
        height: 73px;
    }
    .modal_tweet #modal_tweet_descripcion{
        font-size: 13px;
    }
    .ventana-tweets{
        height: 350px;
    }
    .breadcrumb{
        font-size: 17px;
    }
}*/