/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-feb-2017, 12:18:35
    Author     : araluce
*/

.reloj-digital{
    font-family: Kimberley, sans-serif; 
    font-size: 40px;
    line-height: 108%;
    font-weight: 400;
}

.reloj-digital span {
    vertical-align: top;
}
.reloj-digital figure {
    display: inline-block;
    padding: 0;
}
.reloj-digital-dias{
    margin-right: 2%;
}
.reloj-digital figure div{
    height:48px;
}
.reloj-digital figure ul{
    left:5px; 
    top:-48px
}
.reloj-digital figcaption {
    line-height: 0px;
    font-weight: normal;
    color: #888;
    font-size:17px;
}
.reloj-digital div {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.reloj-digital ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

.reloj-digital ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider.slider-horizontal{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-top: 3%;
}
.after-slider{
    margin-bottom: 10%;
}

/**COMIENZA INPUT FILE**/
.file-upload-indicator {
    display: inline;
    cursor: default;
    opacity: .8;
    width: 60%;
}
.file-drop-zone{
    border-top-color: rgb(255, 255, 255);
    border-top-style: dotted;
    border-top-width: 3px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: dotted;
    border-right-width: 3px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: dotted;
    border-left-width: 3px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.file-preview-frame {
    position: relative;
    display: table;
    margin: 8px;
    height: 160px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px 0 #a2958a;
    padding: 6px;
    float: left;
    text-align: center;
    vertical-align: middle;
}
.file-preview-image {
    vertical-align: middle;
    image-orientation: from-image;
}
.file-preview {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.file-thumbnail-footer {
    position: relative;
}
.file-footer-caption {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
    text-align: center;
    padding-top: 4px;
    font-size: 11px;
    color: #777;
    margin: 5px auto;
}
.file-preview .clickable, .clickable .file-drop-zone-title {
    cursor: pointer;
}
.file-drop-zone-title{

}
.file-drop-zone {
    border: 1px dashed #aaa;
    border-radius: 4px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 12px 15px 12px 12px;
    padding: 5px;
}
code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}
.file-thumb-progress .progress, .file-thumb-progress .progress-bar {
    height: 10px;
    font-size: 9px;
    line-height: 10px;
}
/**TERMINA INPUT FILE**/

/*MARCA DE AGUA PARA IMAGENES*/
.marca-de-agua {
    background-image: url("../images/inTimeLow.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 100%;
    height: auto;
    margin: auto;
}
.marca-de-agua img {
    padding: 0;
    width: 100%;
    height: auto;
    /*opacity: 0.7;*/
}
.marca-de-agua img:hover {
    opacity: 1;
    -webkit-transition: 1s;
    transition: 1s;
}
/*FIN DE MARCA DE AGUA PARA IMAGENES*/

.badge-notify{
    background:red;
    position:absolute;
    top:0px;
}
.text-center {
    text-align: center !important;
}
@media (min-width: 992px){
    .reloj-digital{
        font-size: 25px;
        line-height: inherit;
    }
    .reloj-digital figure div{
        width:100%; 
        height:5vh;
    }
    .reloj-digital figure ul{
        left:0.5%; 
        top:-1.2vh;
    }
    .reloj-digital figcaption {
        font-size:15px;
    }
}

@media (min-width: 1200px){
    .after-slider{
        margin-bottom: 0px;
    }
}